{% load i18n %}
{% load crispy_forms_tags %}

{% if comment_form %}
  <div class="card bg-secondary-light border-secondary">
    <form method="post" action="{% url "create_comment_view" %}" class="row align-items-end g-2">
    <div class="card-body pb-0 pt-2">
      <h6>Post new comment (supports Markdown)</h6>
        {% csrf_token %}
        <div>
{#          <small id="hint_id_content" class="form-text text-muted">Write your comment and click on save.</small>#}
          <textarea name="content" cols="20" rows="3" class="textarea form-control" required="" id="id_content"
                    data-lt-tmp-id="lt-620893" spellcheck="false" data-gramm="false"></textarea>
          <input type="hidden" value="{{ elt_id }}" name="commented_object">
        </div>
    </div>
    <div class="card-footer bg-transparent border-0 m-0 small text-end">
      <button class="btn btn-primary btn-sm" type="submit">{% translate "Save" %}</button>
    </div>
    </form>
  </div>
{% endif %}
