{% load i18n %}
{% load markdownify %}

<div class="card shadow-sm bg-secondary-light border-secondary mb-2">
  <div class="card-body m-0 p-2 pb-0">
    <p class="text-wrap comment-content-{{ comment.id }}">
      {% include "icons/comment_icon.html" with c="text-primary me-1" %}

      <i>by</i>
      {% include "icons/user_icon.html" %}
      {{ comment.owner }} {% if comment.owner == request.user %}(me){% endif %}
      {{ comment.content | markdownify }}
    </p>
    <form method="post" class="edit-comment-form-{{ comment.id }} text-center"
          action="{% url "update_comment_view" pk=comment.id %}"
          style="display: none">
      {% csrf_token %}
      <textarea name="content" cols="20" rows="4"
                class="textarea form-control"
                required="" data-gramm="false">{{ comment.content }}</textarea>
      <div class="mt-1">
        <button comment-id="{{ comment.id }}" class="btn btn-primary cancel-comment-edit-btn">Cancel</button>
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </form>
  </div>
  <div class="card-footer bg-transparent border-0 m-0 p-0 small text-muted row">
    <div class="col fst-italic">
      Posted {{ comment.created_at|timesince }} ago
    </div>
    <div class="col-1 text-end btn-group mb-1" role="group">
      <a href="#" comment-id="{{ comment.id }}" class="update-comment-btn btn btn-sm btn-primary text-white">
        <i class="nf nf-fa-pencil"></i>
      </a>
      <a href="{% url "delete_comment_view" pk=comment.id %}" class="delete-comment-btn btn btn-sm btn-danger text-white"
         is="vue:ConfirmButton">
        <i class="nf nf-fa-trash"></i>
      </a>
    </div>
  </div>
</div>



{#{% block vue_javascript %}#}
{#  <script>#}
{#    $(function () {#}
{#      var app = new Vue({#}
{#        el: '#myApp',#}
{#        delimiters: ['[[', ']]'],#}
{#      });#}
{#    });#}
{#  </script>#}
{#{% endblock vue_javascript %}#}
