{% extends "pages/workspace/base.html" %}
{% load static %}

{% block graph-sidebar-items %}
  {% url 'subgraph_create_view' case_id=contextual_case.id as subgraph_create_view_url %}
  <a class="list-group-item list-group-item-action list-group-item-light{% if subgraph_create_view_url == request.path %} active {% endif %}"
     href="{{ subgraph_create_view_url }}" title="Sub Graphs">
    <i class="nf nf-oct-list_unordered" aria-hidden="true"></i>
    <span class="list-group-item-label">Sub Graphs</span>
  </a>
  {% for psb in pinned_subgraphs %}
    <a class="position-relative list-group-item list-group-item-action list-group-item-light{% if psb.absolute_url == request.path %} active {% endif %}"
       href="{{ psb.absolute_url }}" title="Sub Graph">
      <i class="nf nf-md-hubspot" aria-hidden="true"></i>
      <span class="list-group-item-label">{{ psb.name }}</span>
      <button class="pin-toggle position-absolute btn btn-outline-light py-0 px-1" style="right: 0.6em;" title="Unpin SubGraph">
        <i class="pin nf nf-md-pin" aria-hidden="true"></i>
        <i class="unpin nf nf-md-pin_off" aria-hidden="true"></i>
      </button>
    </a>
  {% endfor %}
{% endblock graph-sidebar-items %}

{% block context_css %}
  <link href="{% static 'css/graph.css' %}" type="text/css" rel="stylesheet" />
{% endblock %}
{% comment %}
{% block context_javascript %}
  <script type="text/javascript" src="{% static 'js/colander-dgraph.js' %}"></script>
{% endblock %}
{% endcomment %}

{% block content %}
  {% block inner-content %}
    <div class="row justify-content-center">
      <div class="col-md-12">
        <h2 class="my-2">Graph editor</h2>
        {% include "case/graph.html" with case=contextual_case %}
      </div>
    </div>
  {% endblock inner-content %}
{% endblock content %}

{% comment %}
{% block inline_javascript %}
<script type="text/javascript">
  let cdg = new ColanderDGraph({
    containerId: 'a-colander-graph',
    csrfToken: '{{ csrf_token }}',
    sendToDocumentation: false,
    {% if subgraph %}
      caseId: '{{ subgraph.case.id }}',
      subgraphId: '{{ subgraph.id }}',
      datasourceUrl: `/ws/{{ subgraph.case.id }}/graph/{{ subgraph.id }}/datasource`,
      generateThumbnail: true,
      editableVisibility: true,
    {% else %}
      caseId: '{{ contextual_case.id }}',
      datasourceUrl: `/case/{{ contextual_case.id }}/graph`,
      generateThumbnail: false,
      editableVisibility: false,
    {% endif %}
    {% if lock %}
      lock: true,
    {% else %}
      recenter: true,
      snapshot: true,
      fullscreen: true,
      sidepane: true,
    {% endif %}
  });
</script>
{% endblock %}
{% endcomment %}