{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load colander_tags %}

{% block content %}
  {% block inner-content %}
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card mb-4 bg-secondary-light">
          <div class="card-body">
            <form method="post" autocomplete="off">
              {% csrf_token %}
              <div class="row justify-content-center">
                <div class="col-md-4">
                  {{ form.type|as_crispy_field }}
                </div>
                <div class="col-md-8">
                  {{ form.value|as_crispy_field }}
                  <button class="btn btn-primary" type="submit">{% translate "Search" %}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12">
          <pre class="mermaid text-center" id="mermaid-code" style="display: none">
{#            {{ mermaid }}#}
        </pre>
        <div id="mermaid-output" class="text-center"></div>
      </div>
      <div class="col-md-12">
      {% if results %}
        <table class="table table-sm">
          {% for k, v in results.items %}
            {% if v.obj_type == "relation" %}
              <tr>
                {% with target=results|get_field:v.obj_from %}
                  <td>{{ v.name }}</td>
                  {% with t=types|get_field:target.type %}
                    <td><i class="nf {{ t.nf_icon }} text-primary"></i> {{ t.name }}</td>
                    <td class="font-monospace text-wrap">{{ target.value }}</td>
                  {% endwith %}
                {% endwith %}
              </tr>
            {% endif %}
          {% endfor %}
        </table>
      {% endif %}
      </div>
    </div>
  {% endblock inner-content %}
{% endblock content %}

{% block inline_javascript %}
{% endblock inline_javascript %}
