{% extends "pages/workspace/base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load colander_tags %}

{% block content %}
  {% block inner-content %}
    {% if form %}
      <div class="row justify-content-center mt-2" {% if wait %}style="display: none"{% endif %}>
        <h2>{% translate "Investigate" %}</h2>
        <div class="col-md-12">
          <div class="card mb-4 bg-secondary-light">
            <div class="card-body">
              <form method="get" autocomplete="off" id="investigate_form">
                {% csrf_token %}
                <div class="row justify-content-center" id="type-selector">
                  <div is="vue:DynamicTypeSelector"></div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-md-8 mt-3">
                    <div class="input-group input-group-lg">
                      <input type="text" class="form-control" id="id_value" name="value" aria-label="Value" required=""
                             aria-describedby="button-search" maxlength="128"
                             placeholder="Name or value of the entity you are looking for"
                        {% if form.value.value %} value="{{ form.value.value }}"{% endif %}
                      >
                      <button class="btn btn-primary" type="submit" id="button-search">
                        {% translate "Search" %}
                      </button>
                    </div>
                    {{ form.force_update|as_crispy_field }}
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="row justify-content-center mt-4">
{#    Wait for the threatr request to complete  #}
      {% if wait %}
        <div class="col-md-6">
          <div class="card card-body bg-secondary-light text-center">
            <div id="id_waiting_spinner" class="spinner-grow text-primary" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            <h2>We are processing your request</h2>
            <p>This page will automatically refresh until results are available.</p>
          </div>
        </div>
      {% endif %}
{#    We received the results  #}
      {% if results %}
        {# List the root entity at the top #}
        {% with root_entity=results.root_entity %}
          <div class="row justify-content-center">
            <div class="col-md-12">
              {% include "pages/investigate/generic_entity_details.html" with entity=root_entity %}
            </div>
            {% if request_data %}
              <div class="col-md-12 text-small">
              If you prefer to interact with Threatr from command line, execute:
  <pre class="bg-dark text-white p-2 mt-2 rounded"><code>curl -X POST --location "{{ threatr_url }}/api/request/" -H "Content-Type: application/json" \
  -H "Authorization: Token [your Threatr API key]" \
  -d "{{ request_data|json_format }}"</code></pre>
              </div>
            {% endif %}
          </div>
          <div class="row justify-content-center">
{#          Tabs #}
            <div class="col-md-12 mb-3 mt-3">
              <ul id="tabs-menu" class="nav nav-pills h5 justify-content-center">
                {% comment %}
                <li class="nav-item">
                  <button data-bs-toggle="tab" role="tab" aria-controls="graph" aria-selected="false"
                     class="nav-link" aria-current="page" data-bs-target="#graph" id="graph-tab">
                    Graph
                  </a>
                </li>
                {% endcomment %}
                {% for st, object in ordering.types.items %}
                  {% if object %}
                    <li class="nav-item">
                      <button data-bs-toggle="tab" role="tab" aria-controls="{{ object.super_type.short_name }}"
                         class="nav-link {% if forloop.first %}active{% endif %}"
                         data-bs-target="#{{ object.super_type.short_name }}" aria-selected="true"
                         id="{{ object.super_type.short_name }}-tab">
                          {{ object.super_type.name }} ({{ object.count }})
                      </button>
                    </li>
                  {% endif %}
                {% endfor %}
                {% if ordering.global.events > 0 %}
                <li class="nav-item">
                  <button data-bs-toggle="tab" role="tab" aria-controls="events" aria-selected="false"
                     class="nav-link" data-bs-target="#events" id="events-tab">
                    Events ({{ ordering.global.events }})
                  </button>
                </li>
                {% endif %}
                {% if ordering.global.external_doc > 0 %}
                <li class="nav-item">
                  <button data-bs-toggle="tab" role="tab" aria-controls="" aria-selected="false"
                     class="nav-link" data-bs-target="#reports" id="reports-tab">
                    Reports ({{ ordering.global.external_doc }})
                  </button>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
          <div class="row justify-content-center tab-content">
{#          Graph tab #}
            {% comment %}
            <div id="graph" class="col-md-12 tab-pane" role="tabpanel" aria-labelledby="graph-tab">
                <pre class="mermaid text-center" id="mermaid-code" {# style="display: none"  #}>
                    {{ results.graph }}
                </pre>
                <div id="mermaid-output" class="text-center"></div>
            </div>
            {% endcomment %}
{#          Entities #}
            {% for type, object in ordering.types.items %}
              <div id="{{ type }}" class="col-md-12 tab-pane {% if forloop.first %}active{% endif %}" role="tabpanel" aria-labelledby="{{ type }}-tab">
                <div class="px-2">
                {% if type == 'OBSERVABLE' %}
                  <table class="table table-hover table-responsive table-sm">
                    <thead class="bg-secondary-light">
                    <tr><th>Entity</th><th class="text-end">Actions</th></tr>
                    </thead>
                    <tbody>
                      {% for entity in object.entities %}
                        {% include "pages/investigate/m_observable_table_row.html" with observable=entity %}
                      {% endfor %}
                    </tbody>
                  </table>
                {% else %}
                  <div class="row masonry-row">
                    {% for entity in object.entities %}
                      <div class="col-md-6 text-wrap mb-2 pb-2 masonry-card">
                        <div class="card card-body bg-secondary-light">
                          {% include "pages/investigate/generic_entity_details_list.html" with entity=entity importable_types=ordering.importable_types %}
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                {% endif %}
                </div>
              </div>
            {% endfor %}
{#          Events #}
            {% if results.events %}
              <div id="events" class="col-md-12 tab-pane" role="tabpanel" aria-labelledby="events-tab">
                <div class="px-2">
                <table class="table table-hover table-responsive table-sm">
                  <thead class="bg-secondary-light">
                  <tr>
                    <th>Type</th>
                    <th><i class="nf nf-fa-bolt"></i> Event</th>
                    <th class="text-left"><i class="nf nf-fa-clock_o"></i> Last seen</th>
                    <th class="text-center"><i class="nf nf-fa-calendar"></i> Time period</th>
                    <th class="text-end">Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for event in results.events %}
                    {% include 'pages/investigate/generic_event_row.html' %}
                  {% endfor %}
                  </tbody>
                </table>
                </div>
              </div>
            {% endif %}
{#          Reports #}
            {% if results.reports %}
              <div id="reports" class="col-md-12 tab-pane" role="tabpanel" aria-labelledby="reports-tab">
                  <div class="px-2">
                    <div class="row masonry-row">
                      {% for entity in results.reports %}
                        <div class="col-md-6 text-wrap mb-2 pb-2 masonry-card">
                          <div class="card card-body bg-secondary-light">
                            {% include "pages/investigate/generic_entity_details_list.html" with entity=entity importable_types=ordering.importable_types %}
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
              </div>
            {%  endif %}
        {% endwith %}
      {% elif not wait %}
        <h2>No results found.</h2>
      {% endif %}
    </div>
    <div is="vue:InvestigateView" data-csrf-token="{{ csrf_token }}" data-case-id="{{ contextual_case.id }}" {% if wait %}data-wait{% endif %}></div>
  {% endblock inner-content %}
{% endblock content %}
{% block context_javascript %}
  {{ results|json_script:"results-data" }}
{% endblock context_javascript %}
