{% load colander_tags %}

{% if entity %}
  <div class="mb-2">
    {% include "icons/pills.html" with elt=entity %}
    {% if entity.name %}
      <span class="text-code font-monospace">{{ entity.name }}</span> (<i>{{ entity.type.name }}</i>)
    {% else %}
      <span class="text-code font-monospace">{{ entity.value }}</span> (<i>{{ entity.type.name }}</i>)
    {% endif %}
    {% if entity.attributes.category or entity.attributes.tags %}
      <div>
        {% if entity.attributes.category %}
          {% for t in entity.attributes.category|split:"," %}
            <span class="badge bg-info"><i class="nf nf-fa-tag"></i> {{ t|striptags }}</span>
          {% endfor %}
        {% endif %}
        {% if entity.attributes.tags %}
          {% include "helpers/tags.html" %}
        {% endif %}
      </div>
    {% endif %}
  </div>
  <ul class="list-unstyled small">
    <li><b>ID</b>: <samp>{{ entity.id }}</samp></li>
    <li><b>Name</b>: <samp>{{ entity.name }}</samp></li>
    {% if entity.description %}
      <li><b>Description</b>: {{ entity.description }}</li>
    {% endif %}
    {% if entity.source_url %}
      <li><b>Source URL</b>:<samp>{{ entity.source_url }}</samp></li>
    {% endif %}
    <li><b>Created at</b>: {{ entity.created_at }}</li>
    <li><b>Updated at</b>: {{ entity.updated_at }}</li>
    {% if entity.attributes %}
      {% for k_, v_ in entity.attributes.items %}
        {% if "tag" not in k_ %}
          <li><b>{{ k_|to_title }}</b>:
            <samp>{{ v_ }}</samp></li>
        {% endif %}
      {% endfor %}
    {% endif %}
  </ul>
  {% if entity.super_type.short_name in importable_types %}
    <div class="text-start">
      <form class="form-inline" action="{% url "investigate_base_view" case_id=request.contextual_case.id %}"
            method="get">
        <input type="hidden" name="type" value="{{ entity.type.short_name }}">
        <input type="hidden" name="value" value="{{ entity.name }}">
        <input type="hidden" name="super_type" value="{{ entity.super_type.short_name }}">
        <button class="btn btn-sm bg-primary text-white" type="submit" data-bs-toggle="tooltip" data-bs-title="Pivot">
          <i class="nf nf-fa-search"></i>
        </button>
        <button class="btn btn-sm bg-primary text-white investigate-add-entity-btn"
                data-bs-toggle="tooltip" data-bs-title="Import to the current case"
                type="button" data-obj-id="{{ entity.id }}">
          <i class="nf nf-fa-plus"></i>
        </button>
      </form>
    </div>
  {% endif %}
{% endif %}


