@import 'graph-context-menu';

.colander-dgraph {
  /*height: 500px;*/
  height: calc(100vh - 3rem - 6rem);
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;

  .graph-sub-container {
    width: 100%;
    height: 100%;
  }

  .graph-loading
  {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .graph-loading .spinner-border
  {
    width: 5rem;
    height: 5rem;
    color: var(--bs-primary);
  }

  &.fullscreen {
    z-index: 10;
    position: fixed;
    top: 3rem;
    left: 0;
    background: white;
    height: calc(100vh - 3rem);
    width: 100vw;

    .graph-overlay-menu
    {
      margin: 0.125rem;
    }
  }

  .graph-overlay-menu {
    .btn {
      display: block;
      margin-bottom: 0.125rem;
      overflow: hidden;
      max-width: 1.75rem;
      white-space: nowrap;
      transition: max-width 0.25s ease-in;

      .label
      {
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        white-space: nowrap;
        max-width: 0;
        transition: max-width 0.250s ease-in;
      }

      &:hover
      {
        max-width: 8rem;
        .label {
          max-width: 8rem;
        }
      }
    }
  }

  .sidepane {
    --sp-bg-color: rgba(248, 248, 248, 1);
    --sidepane-width: 400px;
    position: absolute;
    z-index: 20;
    top: 0;
    background-color: var(--sp-bg-color);
    right: calc(-1 * var(--sidepane-width));
    height: 100%;
    width: var(--sidepane-width);
    border-color: gray;
    border-width: 1px;
    border-style: dashed none dashed solid;
    box-shadow: -1rem 0 0 -1rem;
    transition: 0.25s ease-in;
    transition-property: right, box-shadow;
    overflow: hidden auto;

    &::before {
      z-index: 21;
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 4px;
      height: 100%;
      cursor: ew-resize;
    }

    textarea {
      min-height: 15rem;
    }

    .vue-component,
    .vue-container
    {
      position: relative;
      width: 100%;
      height: 100%;
    }

    .vue-component
    {
      max-height: 0;
      overflow: hidden;
      &.active {
        max-height: initial;
        overflow: hidden auto;
      }
    }

    .vue-container
    {
       .footer
      {
        position: absolute;
        bottom: 0;
        margin: 1em 0;
      }
    }

    .table-sticky-head {
      height: calc(100% - 2rem - 2px - 3rem);
      overflow: hidden auto;

      thead th {
        position: sticky;
        top: 0;
        background-color: var(--sp-bg-color);
      }
    }

    .actionable {
      cursor: pointer;
    }
  }

  &.sidepane-active .sidepane {
    right: 0;
    box-shadow: -1rem 0 2rem -2rem;
  }

  .status-bar {
    z-index: 20;
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--bs-secondary);
    font-size: 0.8rem;
  }
}
