@import "./custom_bootstrap_variables";
@import "../vendors/bootstrap/bootstrap";

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

body, a {
  position: relative;
  min-height: 100%;
  font-family: "Open Sans", sans-serif !important;
  font-size: 14px;
}

samp {
  font-size: 0.9em;
}
