{% load i18n %}
{% load static %}
{% load markdownify %}
{% load colander_tags %}
<div class="row justify-content-center">
  <div class="col-md-12 mt-2">
    <h3>
      <i class="nf nf-md-security_network" aria-hidden="true"></i>
      {% if pirogue_credentials.friendly_name %}
        <samp>{{ pirogue_credentials.friendly_name }}</samp>
      {% else %}
        <span>{{ pirogue_credentials.host }}</span>
      {% endif %}
    </h3>
    <div class="mb-3">
    </div>
    {% include "pirogue/credentials_controls.html" with exclude="details" %}
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-12 mt-2">
    <h4>Details</h4>
    <table class="table table-sm">
      <tbody>
        <tr>
          <td>ID</td>
          <td>
            {% include "icons/id_icon.html" with c="text-primary" %}
            <span class="font-monospace">
                {{ pirogue_credentials.id }}
            </span>
          </td>
        </tr>
        <tr>
          <td>Owner</td>
          <td>
            <i class="fa fa-user text-primary" aria-hidden="true"></i>
            <span>
                {{ pirogue_credentials.owner }}
            </span>
            {% if request.user == pirogue_credentials.owner %}
              <span>(me)</span>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>Host and Port</td>
          <td>
            <i class="nf nf-md-connection text-primary" aria-hidden="true"></i>
            <span class="font-monospace">
                {{ pirogue_credentials.host }}:{{ pirogue_credentials.port }}
            </span>
          </td>
        </tr>
        <tr>
          <td>Administration token</td>
          <td>
            <i class="nf nf-md-key text-primary" aria-hidden="true"></i>
            {% if request.user == pirogue_credentials.owner %}
            <span class="font-monospace">{{ pirogue_credentials.token }}</span>
            {% else %}
            <span class="font-monospace">*************</span>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>Has public visibility</td>
          <td>
            <i class="nf nf-md-web text-primary" aria-hidden="true"></i>
            {% if pirogue_credentials.has_public_visibility %}
              <span>Yes</span>
            {% else %}
              <span>No</span>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>Certificate (if not public)</td>
          <td>
            <i class="nf nf-md-certificate text-primary" aria-hidden="true"></i>
            {% if pirogue_credentials.certificate %}
              {% if request.user == pirogue_credentials.owner %}
              <a class="btn btn-sm btn-secondary" href="#" data-bs-toggle="modal" data-bs-target="#certificateModal">View</a>
              <div class="modal fade modal-md" id="certificateModal" tabindex="-1"
                   aria-labelledby="certificateModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="certificateModalLabel">Certificate</h1>
                    </div>
                    <div class="modal-body">
                      <pre><code>{{ pirogue_credentials.certificate }}</code></pre>
                    </div>
                  </div>
                </div>
              </div>
              {% comment %}
                <a class="btn btn-sm btn-secondary" href="#">Download</a>
              {% endcomment %}
              {% else %}
              <span class="font-monospace">*************</span>
              {% endif %}
            {% else %}
              <span>Not provided</span>
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-12 mt-2">
    <h4>
      <a class='btn btn-sm btn-outline-primary' href="{% url "pirogue_credentials_check_status_view" pk=pirogue_credentials.id %}">Check status now</a>
    </h4>
    <div is="vue:PiRogueConfigurator" data-csrf-token="{{ csrf_token }}" data-pirogue-credentials-id="{{ pirogue_credentials.id }}"></div>
    {% comment %}
    <h4>
      <span>Status</span>
      <a class='btn btn-sm btn-outline-primary' href="{% url "pirogue_credentials_check_status_view" pk=pirogue_credentials.id %}">Check status now</a>
    </h4>
    {% for s in status %}
      <div class="row">
        <div class="col-2" style="text-wrap: nowrap;">{{ s.reported_at }}</div>
        <div class="col-10">
          <pre>{{ s.error }}</pre>
          <pre>{{ s.content }}</pre>
        </div>
      </div>
    {% endfor %}
    {% endcomment %}
  </div>
</div>
