{% load i18n %}

<div class="card shadow-sm bg-secondary-light border-secondary mb-2">
  <div class="card-body p-2">
    <div class="row">
      <div class="col-md-10 text-truncate border-end border-secondary">
        <div class="border-bottom border-secondary">
          <i class="nf nf-md-security_network h4 text-primary" aria-hidden="true"></i>
          <a class="h4" href="{% url "pirogue_credentials_details_view" pk=pirogue_credentials.id %}">
            {% if pirogue_credentials.friendly_name %}
              <samp>{{ pirogue_credentials.friendly_name }}</samp>
            {% else %}
              <span>{{ pirogue_credentials.host }}</span>
            {% endif %}
          </a>
        </div>
        <div>
          <div class="text-tiny font-monospace text-muted mt-1">
            {% include "icons/id_icon.html" %}
            <span>{{ pirogue_credentials.id }}</span>
          </div>
          <div class="text-tiny text-muted">
            {% include "icons/user_icon.html" %}
            {{ pirogue_credentials.owner }} {% if pirogue_credentials.owner == request.user %}(me){% endif %}
          </div>
          <div class="text-tiny text-muted">
            <i class="nf nf-md-connection" aria-hidden="true"></i>
            <span class="font-monospace">{{ pirogue_credentials.host }}:{{ pirogue_credentials.port }}</span>
          </div>
          <div class="text-tiny text-muted">
            <i class="nf nf-md-web" aria-hidden="true"></i>
            {% if pirogue_credentials.has_public_visibility %}
              <span>Public visibility</span>
            {% else %}
              <span>Private visibility</span>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-2 text-truncate">
        <div class="text-tiny">Last status:</div>
        {% if pirogue_credentials.last_status %}
          <div class="text-tiny text-muted">
            {% include "icons/date_icon.html" %}
            <span>{{ pirogue_credentials.last_status.reported_at }}</span>
          </div>
          {% if pirogue_credentials.last_status.success %}
            <div class="text-tiny text-muted">
              <i class="nf nf-md-link" aria-hidden="true"></i>
              <span>Link</span>
              <span class="text-success">UP</span>
            </div>
          {% else %}
            <div class="text-tiny text-muted">
              <i class="nf nf-md-link_off" aria-hidden="true"></i>
              <span>Link</span>
              <span class="text-danger">DOWN</span>
            </div>
          {% endif %}
        {% else %}
          <div class="text-tiny text-muted">
            {% include "icons/date_icon.html" %}
            <span>Scheduled</span>
          </div>
          <div class="text-tiny text-muted">
            <i class="nf nf-md-link_off" aria-hidden="true"></i>
            <span>Link</span>
            <span class="text-warning">UNKNOWN</span>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="card-footer bg-transparent border-secondary m-0 p-1 text-end">
    {% include "pirogue/credentials_controls.html" with exclude="" btn_class="btn-sm" %}
  </div>
</div>
