{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load i18n %}
<div class="mt-2">
  {% if is_editing %}
    <h2>{% translate "Edit PiRogue Credential" %}</h2>
  {% else %}
    <h2>{% translate "New PiRogue Credential" %}</h2>
  {% endif %}
  <div class="card mb-2 bg-secondary-light">
      <div class="card-body">
        <form method="post" autocomplete="off">
          {% csrf_token %}
          <div class="row justify-content-center">
            <div class="col-lg">
              {{ form.host | as_crispy_field }}
              {{ form.port | as_crispy_field }}
              {{ form.token | as_crispy_field }}
              {{ form.has_public_visibility | as_crispy_field }}
              {{ form.friendly_name | as_crispy_field }}
            </div>
            <div class="col-lg">
              {{ form.certificate | as_crispy_field }}
            </div>
          </div>

          {% if is_editing %}
            <button class="btn btn-primary" type="submit" name="save_pirogue_credential">{% translate "Update" %}</button>
          {% else %}
            <button class="btn btn-primary" type="submit" name="save_pirogue_credential">{% translate "Create" %}</button>
          {% endif %}
          <component is="script">
            $(() => {
              $('#id_has_public_visibility').change(function() {
                if ($(this).is(':checked')) {
                  $('#id_certificate').data('previous', $('#id_certificate').val());
                  $('#id_certificate').val('');
                  $('#id_certificate').attr('disabled', 'disabled');
                }
                else {
                  $('#id_certificate').val($('#id_certificate').data('previous')??'');
                  $('#id_certificate').attr('disabled', null);
                }
              });
            });
          </component>
        </form>
      </div>
  </div>
</div>
