<div class='vue-container container py-2'>
  <div class="body">
    <input class='form-control' type="text" v-model="currentSearch" placeholder="Quick search for entities in this graph"/>
    <div class="table-sticky-head">
      <table class="table table-sm table-striped table-hover">
        <thead>
          <tr>
            <th @click="sort('super_type')" scope="col" title="Entity type" width="1%">E</th>
            <th @click="sort('type')" scope="col" title="Type" width="1%">T</th>
            <th @click="sort('name')" scope="col">Name</th>
            <th @click="sort('visible')" scope="col" width="1%">
              <i class='fa fa-filter'></i>
            </th>
          </tr>
        </thead>
        <tbody v-if="sortedEntities_keys.length > 0">
          <tr v-for="eid in sortedEntities_keys">
            <td>
              <i @click="filterBy(entities[eid].super_type)" v-bind:class="['fa', 'text-primary', 'actionable', allStyles[entities[eid].super_type]['icon-font-classname']]" v-bind:title="entities[eid].super_type"></i>
            </td>
            <td>
              <i @click="filterBy(entities[eid].type)" v-bind:class="['nf', 'text-primary', 'actionable', allStyles[entities[eid].super_type]['types'][entities[eid].type]?.['icon-font-classname']]" v-bind:title="entities[eid].type"></i>
            </td>
            <td class='text-truncate' style="max-width: 0;">[[ entities[eid].name ]]</td>
            <td class='text-nowrap pe-3'>
              <span v-show="editableVisibility">
                <i class='fa fa-eye text-primary actionable' title='Click to hide this entity' v-show="true"></i>
                <i class='fa fa-eye-slash text-primary actionable' title='Click to show this entity' v-show="false"></i>
              </span>
              <i @click="focusEntity(eid)" class='fa fa-crosshairs text-primary actionable' title="Center graph on this entity"></i>
            </td>
          </tr>
        </tbody>
        <tbody v-else>
          <tr>
            <td colspan="4">No entities found</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="footer">
      <button @click="close()" type="button" class="btn btn-outline-secondary" role="close">Close</button>
  </div>
</div>
