.cy-context-menus-cxt-menu {
  display: none;
  z-index: 1000;
  position: absolute;
  border: 1px solid #A0A0A0;
  padding: 0;
  margin: 0;
  margin-top: -1px;
  width: auto;
  font-family: "sans-serif";
  box-sizing: border-box;
}

.cy-context-menus-cxt-menuitem {
  display: block;
  width: 100%;
  padding: 3px 20px;
  position: relative;
  margin: 0;
  background-color: #f8f8f8;
  /*background-color: var(--bs-secondary);*/
  font-weight: normal;
  font-size: 12px;
  white-space: nowrap;
  border: 0;
  text-align: left;
}

.cy-context-menus-cxt-menuitem:enabled {
  color: #000000;
}

.cy-context-menus-ctx-operation:focus {
  outline: none;
}

.cy-context-menus-cxt-menuitem:hover {
  color: #ffffff;
  text-decoration: none;
  /*background-color: #0B9BCD;*/
  background-color: var(--bs-primary);
  background-image: none;
  cursor: pointer;
}

.cy-context-menus-cxt-menuitem:hover img {
  color: white;
}

.cy-context-menus-cxt-menuitem[content]:before {
  content: attr(content);
}

.cy-context-menus-divider {
  border-bottom: 1px solid #A0A0A0;
}

.cy-context-menus-submenu-indicator {
  position: absolute;
  right: 2px;
  top: 50%;
  transform: translateY(-50%);
}

.colander-dgraph {
  /*height: 500px;*/
  height: calc(100vh - 3rem - 18rem);
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
}
.colander-dgraph .graph-sub-container {
  width: 100%;
  height: 100%;
}
.colander-dgraph .graph-loading {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.colander-dgraph .graph-loading .spinner-border {
  width: 5rem;
  height: 5rem;
  color: var(--bs-primary);
}
.colander-dgraph.fullscreen {
  z-index: 10;
  position: fixed;
  top: 3rem;
  left: 0;
  background: white;
  height: calc(100vh - 3rem);
  width: 100vw;
}
.colander-dgraph.fullscreen .graph-overlay-menu {
  margin: 0.125rem;
}
.colander-dgraph .graph-overlay-menu .btn {
  display: block;
  margin-bottom: 0.125rem;
  overflow: hidden;
  max-width: 1.75rem;
  white-space: nowrap;
  transition: max-width 0.25s ease-in;
}
.colander-dgraph .graph-overlay-menu .btn .label {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  white-space: nowrap;
  max-width: 0;
  transition: max-width 0.25s ease-in;
}
.colander-dgraph .graph-overlay-menu .btn:hover {
  max-width: 8rem;
}
.colander-dgraph .graph-overlay-menu .btn:hover .label {
  max-width: 8rem;
}
.colander-dgraph .sidepane {
  position: absolute;
  z-index: 20;
  top: 0;
  background-color: rgb(248, 248, 248);
  right: -400px;
  height: 100%;
  width: 400px;
  border-color: gray;
  border-width: 1px;
  border-style: dashed none dashed solid;
  box-shadow: -1rem 0 0 -1rem;
  transition: 0.25s ease-in;
  transition-property: right, box-shadow;
  overflow: hidden auto;
}
.colander-dgraph .sidepane textarea {
  min-height: 15rem;
}
.colander-dgraph .status-bar {
  z-idnex: 20;
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--bs-secondary);
  font-size: 0.8rem;
}
.colander-dgraph.sidepane-active .sidepane {
  right: 0;
  box-shadow: -1rem 0 2rem -2rem;
}

/*# sourceMappingURL=graph.css.map */
