{% load i18n %}


<div class="btn-group" role="group">
  {% if "details" not in exclude %}
    <a href="{% url "collect_data_fragment_details_view" case_id=data_fragment.case.id pk=data_fragment.id %}"
       class="btn btn-primary {{ btn_class }}">
      <i class="nf nf-fa-eye"></i>
      {% translate "Details" %}
    </a>
  {% endif %}
  {% if "edit" not in exclude %}
    <a href="{% url "collect_data_fragment_update_view" case_id=data_fragment.case.id pk=data_fragment.id %}"
       class="btn btn-primary {{ btn_class }}">
      <i class="nf nf-fa-edit"></i>
      {% translate "Edit" %}
    </a>
  {% endif %}
  {% if "delete" not in exclude %}
    <a href="{% url "collect_data_fragment_delete_view" case_id=data_fragment.case.id pk=data_fragment.id %}"
       class="delete-entity-btn btn btn-danger text-white {{ btn_class }}"
       is="vue:ConfirmButton">
      <i class="nf nf-fa-trash"></i>
      Delete
    </a>
  {% endif %}
</div>
