{% load i18n %}
{% load markdownify %}

<div class="row justify-content-center my-2">
  <div class="col">
    <h3>{% include "icons/pills.html" with elt=data_fragment %} {{ data_fragment.name }}</h3>
    {% if data_fragment.attributes.tags %}
      <div class="my-2">{% include "helpers/tags.html" with entity=data_fragment %}</div>
    {% endif %}
    <div class="mb-3">
      {% if data_fragment.description %}
        {{ data_fragment.description | markdownify }}
      {% else %}
        {% translate "No description" %}
      {% endif %}
    </div>
    {% include "data_fragment/controls.html" with exclude="details" %}
  </div>
  {% if data_fragment.thumbnail %}
    <div class="col-md-2 position-relative">
      <img class="img-thumbnail position-absolute top-0 end-0 me-2" src="{{data_fragment.thumbnail_url}}" alt="{{data_fragment.name}}" style="max-height: 100px" />
    </div>
  {% endif %}
</div>
<div class="row justify-content-center">
  <div class="col-md-12 mt-2">
    <h5>{% translate "Details" %}</h5>
    <table class="table table-sm">
      <tbody>
      <tr>
        <td>ID</td>
        <td>
          {% include "icons/id_icon.html" with c="text-primary" %}
          <span class="font-monospace">
              {{ data_fragment.id }}
            </span>
        </td>
      </tr>
      <tr>
        <td>Case</td>
        <td>
          {% include "icons/case_icon.html" with c="text-primary" %}
          <a href="{% url 'case_details_view' pk=data_fragment.case.id %}">
            {{ data_fragment.case.name }}
          </a>
        </td>
      </tr>
      <tr>
        <td>Owner</td>
        <td>
          {% include "icons/user_icon.html" with c="text-primary" %}
          {{ data_fragment.owner }}
        </td>
      </tr>
      <tr>
        <td>Type</td>
        <td>
          <i class="nf {{ data_fragment.type.nf_icon }} text-primary"></i>
          {{ data_fragment.type.name }}
        </td>
      </tr>
      <tr>
        <td>Created at</td>
        <td>
          {% include "helpers/date_since.html" with date=data_fragment.created_at c="text-primary" %}
        </td>
      </tr>
      <tr>
        <td>Updated at</td>
        <td>
          {% include "helpers/date_since.html" with date=data_fragment.updated_at c="text-primary" %}
        </td>
      </tr>
      <tr>
        <td>TLP/PAP</td>
        <td>
          {% include "tlp/show_tlp_pap.html" with element=data_fragment %}
        </td>
      </tr>
      <tr>
        <td>Extracted from</td>
        <td>
          {% if data_fragment.extracted_from %}
            <i class="nf {{ data_fragment.extracted_from.type.nf_icon }} text-primary"></i>
            <a href="{% url "collect_artifact_details_view" case_id=data_fragment.extracted_from.case.id pk=data_fragment.extracted_from.id %}">
              {{ data_fragment.extracted_from.original_name }}
            </a>
            ({{ data_fragment.extracted_from.type }})
          {% else %}
            {% translate "No artifact specified" %}
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>Source</td>
        <td>
          {% if data_fragment.source_url %}
            <i class="nf {{ data_fragment.extracted_from.type.nf_icon }} text-primary"></i>
            <a href="{{ data_fragment.source_url }}" target="_blank">
              {{ data_fragment.source_url }}
              <i class="nf nf-fa-external_link text-primary"></i>
            </a>
          {% else %}
            {% translate "No source specified" %}
          {% endif %}
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-12 mt-2">
    <h5>{% translate "Details" %}</h5>
    <pre class="bg-dark text-white rounded-2 p-2"><code>{{ data_fragment.content }}</code></pre>
  </div>

  {% include "helpers/extra_attributes.html" with attributes=data_fragment.attributes %}
</div>

<div class="row justify-content-center">
  {% include "entity_relation/related_entities.html" with entity=data_fragment %}
</div>
<div class="row justify-content-center">
  {% include "helpers/entity_comments.html" with entity=data_fragment %}
</div>
