{% extends "pages/workspace/base.html" %}
{% load static i18n colander_tags %}

{% block feeds-sidebar-items %}
  {% url 'feeds_detection_rule_out_feed_create_view' case_id=contextual_case.id as feeds_detection_rule_out_feed_create_view_url %}
  {% url 'feeds_entity_out_feed_create_view' case_id=contextual_case.id  as feeds_entity_out_feed_create_view_url %}
  <a
    class="list-group-item list-group-item-action list-group-item-light{% if feeds_entity_out_feed_create_view_url in request.path %} active {% endif %}"
    href="{{ feeds_entity_out_feed_create_view_url }}" title="Entities export feeds">
    <i class="nf nf-md-code_json"></i>
    <span class="list-group-item-label">Export Entities</span>
  </a>
  <a
    class="list-group-item list-group-item-action list-group-item-light{% if feeds_detection_rule_out_feed_create_view_url in request.path %} active {% endif %}"
    href="{{ feeds_detection_rule_out_feed_create_view_url }}" title="Detection rules export feeds">
    {% include "icons/out_feed_icon.html" %}
    <span class="list-group-item-label">Export Detection rules</span>
  </a>
{% endblock feeds-sidebar-items %}

{% block content %}
  {% block inner-content %}
    <div class="row justify-content-center mt-2">
      <div class="col-md-12">
        <h2>{% translate "Latest feeds" %}</h2>
        {% if feeds %}
          {% for feed in feeds %}
            {% include "feed/list_item.html" %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  {% endblock %}
{% endblock %}
