{% load i18n %}
{% load markdownify %}

<div class="row justify-content-center">
  <div class="col-md-12 mt-2">
    <h2>{% include "icons/pills.html" with elt=device %} {{ device.name }}</h2>
    {% if device.attributes.tags %}
      <div class="my-2">{% include "helpers/tags.html" with entity=device %}</div>
    {% endif %}
    <div class="mb-3">
      {% if device.description %}
        {{ device.description | markdownify }}
      {% else %}
        {% translate "No description" %}
      {% endif %}
    </div>
    {% include "device/controls.html" with exclude="details" %}
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-6 mt-2">
    <h3>{% translate "Details" %}</h3>
    <table class="table table-sm">
      <tbody>
      <tr>
        <td>ID</td>
        <td>
          {% include "icons/id_icon.html" with c="text-primary" %}
          <span class="font-monospace">
              {{ device.id }}
            </span>
        </td>
      </tr>
      <tr>
        <td>Case</td>
        <td>
          {% include "icons/case_icon.html" with c="text-primary" %}
          <a href="{% url "case_details_view" pk=device.case.id %}">
            {{ device.case.name }}
          </a>
        </td>
      </tr>
      <tr>
        <td>Owner</td>
        <td>
          {% include "icons/user_icon.html" with c="text-primary" %}
          {{ device.owner }}
        </td>
      </tr>
      <tr>
        <td>Type</td>
        <td>
          <i class="nf {{ device.type.nf_icon }} text-primary"></i>
          {{ device.type.name }}
        </td>
      </tr>
      <tr>
        <td>Created at</td>
        <td>
          {% include "icons/date_icon.html" with c="text-primary" %}
          {{ device.created_at }}
        </td>
      </tr>
      <tr>
        <td>Updated at</td>
        <td>
          {% include "icons/date_icon.html" with c="text-primary" %}
          {{ device.updated_at }}
        </td>
      </tr>
      <tr>
        <td>TLP/PAP</td>
        <td>
          {% include "tlp/show_tlp_pap.html" with element=device %}
        </td>
      </tr>
      <tr>
        <td>Source</td>
        <td>
          {% if device.source_url %}
            <i class="nf {{ device.extracted_from.type.nf_icon }} text-primary"></i>
            <a href="{{ device.source_url }}" target="_blank">
              {{ device.source_url }}
              <i class="nf nf-fa-external_link text-primary"></i>
            </a>
          {% else %}
            {% translate "No source specified" %}
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>Operated by</td>
        <td>
          {% if device.operated_by %}
            <i class="nf {{ device.operated_by.type.nf_icon }} text-primary"></i>
            <a href="{% url "collect_actor_details_view" case_id=device.case.id pk=device.operated_by_id %}">
              {{ device.operated_by.name }}
            </a>
            ({{ device.operated_by.type }})
          {% else %}
            {% translate "No operator specified" %}
          {% endif %}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6 mt-2">
    <h3>{% translate "Attributes" %}</h3>
    {% include "helpers/extra_attributes_light.html" with attributes=device.attributes %}
  </div>
</div>


{% if device.thumbnail %}
  <div class="row">
    <div class="col-md-12 mt-2">
      <h3>{% translate "Thumbnail" %}</h3>
      <img class="img-thumbnail mx-auto d-block" src="{{device.thumbnail_url}}" alt="{{device.name}}" style="max-height: 300px" />
    </div>
  </div>
{% endif %}

<div class="row justify-content-center">
  {% include "entity_relation/related_entities.html" with entity=device %}

  <div class="col-md-12 mt-2">
    <h3>{% translate "Comments" %}</h3>
    {% for comment in device.sorted_comments %}
      {% include "comment/list_item.html" %}
    {% empty %}
      {% translate "No comment" %}
    {% endfor %}
    {% include "comment/form.html" with elt_id=device.id %}
  </div>
</div>
