{% load i18n %}


<div class="card m-1 shadow-sm bg-secondary-light border-secondary">
  <div class="card-body p-2">
    <div class="row">
      <div class="col-md-8 text-truncate border-end border-secondary">
        <div class="border-bottom border-secondary">
          <i class="nf {{ device.type.nf_icon }} h4 text-primary"></i>
          <a class="h4" href="{% url "collect_device_details_view" case_id=device.case.id pk=device.id %}">
            <samp>{{ device.name }}</samp>
          </a>
        </div>
        <div>
          <div class="text-tiny font-monospace text-muted mt-1">
            {% include "icons/id_icon.html" %}{{ device.id }}
          </div>
          <div class="text-tiny text-muted">
            {% include "icons/date_icon.html" %}
            {{ device.created_at }}
          </div>
          <div class="text-tiny text-muted">
            {% include "icons/case_icon.html" %}
            {{ device.case.name }}
          </div>
          <div class="text-tiny text-muted">
            {% include "icons/user_icon.html" %}
            {{ device.owner }} {% if device.owner == request.user %}(me){% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-4 text-truncate ">
        <div class="row">
          <div class="col">
            {% include "tlp/show_tlp_pap.html" with element=device %}
            {% if device.attributes.tags %}
              {% include "helpers/tags.html" with entity=device %}
            {% endif %}
            {% if device.operated_by %}
              <div class="small">
                {% include "icons/actor_icon.html" with c="text-primary" %}
                {{ device.operated_by.name }}
              </div>
            {% endif %}
            {% if device.thumbnail %}
              <img class="img-thumbnail mx-auto d-block mt-1" src="{{device.thumbnail_url}}" alt="{{device.name}}" style="max-height: 144px" />
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer bg-transparent border-secondary m-0 p-1 text-end">
    {% include "device/controls.html" with exclude="" btn_class="btn-sm" %}
  </div>
</div>
