{% load i18n %}
{% load colander_tags %}

<div class="row justify-content-center">
  <div class="col-md-12 mt-2">
    <h2><i class="nf {{ artifact.type.nf_icon }} text-primary"></i> {{ artifact.original_name }}</h2>
    <div class="mb-3">
      {% if artifact.description %}
        {{ artifact.description }}
      {% else %}
        {% translate "No description" %}
      {% endif %}
    </div>
    <div class="btn-group" role="group">
      <a href="{% url "collect_artifact_update_view" pk=artifact.id %}" class="btn btn-primary">
        <i class="nf nf-fa-edit"></i>
        {% translate "Edit" %}
      </a>
      <a href="{% url "collect_artifact_download_view" pk=artifact.id %}" class="btn btn-primary">
        <i class="nf nf-fa-download"></i>
        {% translate "Download" %}
      </a>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-8 mt-2">
    <h3>{% translate "Details" %}</h3>
    <table class="table table-sm">
      <tbody>
      <tr>
        <td>ID</td>
        <td>
          {% include "icons/id_icon.html" with c="text-primary" %}
          <span class="font-monospace">
              {{ artifact.id }}
            </span>
        </td>
      </tr>
      <tr>
        <td>Case</td>
        <td>
          {% include "icons/case_icon.html" with c="text-primary" %}
          <a href="{% url "collect_case_details_view" pk=artifact.case.id %}">
            {{ artifact.case.name }}
          </a>
        </td>
      </tr>
      <tr>
        <td>Owner</td>
        <td>
          {% include "icons/user_icon.html" with c="text-primary" %}
          {{ artifact.owner }}
        </td>
      </tr>
      <tr>
        <td>Type</td>
        <td>
          <i class="nf {{ artifact.type.nf_icon }} text-primary"></i>
          {{ artifact.type.name }}
        </td>
      </tr>
      <tr>
        <td>Created at</td>
        <td>
          {% include "icons/date_icon.html" with c="text-primary" %}
          {{ artifact.created_at }}
        </td>
      </tr>
      <tr>
        <td>Updated at</td>
        <td>
          {% include "icons/date_icon.html" with c="text-primary" %}
          {{ artifact.updated_at }}
        </td>
      </tr>
      <tr>
        <td>TLP/PAP</td>
        <td>
          {% include "tlp/show_tlp_pap.html" with element=artifact %}
        </td>
      </tr>
      <tr>
        <td>Name</td>
        <td>
          {{ artifact.original_name }}
        </td>
      </tr>
      <tr>
        <td>Mimetype</td>
        <td>
          {{ artifact.mime_type }}
        </td>
      </tr>
      <tr>
        <td>Size</td>
        <td>
          {{ artifact.size_in_bytes|filesizeformat }} ({{ artifact.size_in_bytes }} bytes)
        </td>
      </tr>
      <tr>
        <td>MD5</td>
        <td>
          {% include "icons/id_icon.html" with c="text-primary" %}
          <span class="font-monospace">
              {{ artifact.md5 }}
            </span>
        </td>
      </tr>
      <tr>
        <td>SHA1</td>
        <td>
          {% include "icons/id_icon.html" with c="text-primary" %}
          <span class="font-monospace">
              {{ artifact.sha1 }}
            </span>
        </td>
      </tr>
      <tr>
        <td>SHA256</td>
        <td>
          {% include "icons/id_icon.html" with c="text-primary" %}
          <span class="font-monospace">
              {{ artifact.sha256 }}
            </span>
        </td>
      </tr>
      <tr>
        <td>Signature</td>
        <td>
          {% if artifact.has_valid_signature %}
            <span class="badge bg-success">Valid signature</span>
          {% else %}
            <span class="badge bg-danger">Incorrect signature (file potentially tempered)</span>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>Extracted from</td>
        <td>
          {% if artifact.extracted_from %}
            <i class="nf {{ artifact.extracted_from.type.nf_icon }} text-primary"></i>
            <a href="{% url "collect_device_details_view" pk=artifact.extracted_from_id %}">
              {{ artifact.extracted_from.name }}
            </a>
            ({{ artifact.extracted_from.type }})
          {% else %}
            {% translate "No device specified" %}
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>Source</td>
        <td>
          {% if artifact.source_url %}
            <i class="nf {{ artifact.extracted_from.type.nf_icon }} text-primary"></i>
            <a href="{{ artifact.source_url }}" target="_blank">
              {{ artifact.source_url }}
              <i class="nf nf-fa-external_link text-primary"></i>
            </a>
          {% else %}
            {% translate "No source specified" %}
          {% endif %}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4 mt-5">
    <div class="card bg-secondary-light">
      <div class="card-body bg-secondary-light">
        <h3 class="card-title ">Artifact integrity check</h3>
        To verify the integrity of this artifact, you have to download:
        <ul class="">
          <li>the public key of the case</li>
          <li>the signature of the artifact</li>
          <li>the artifact itself</li>
        </ul>
        Then, in a terminal run the following command:
        <p class="font-monospace small mb-3 bg-dark text-white p-2 mt-2 rounded-2">
          openssl dgst -sha256 -sigopt rsa_padding_mode:pss
          -verify {{ artifact.case.name|escape_space }}.pem
          -signature {{ artifact.name|escape_space }}.sig
          {{ artifact.name|escape_space }}
        </p>
        If the file has not been tampered, the command above should prompt <code>Verified OK</code>
      </div>
      <div class="card-footer text-center">
        <a href="{% url "collect_cases_download_key_view" pk=artifact.case.id %}"
           class="btn btn-sm btn-primary text-white">
          Download case key
        </a>
        <a href="{% url "collect_artifact_download_view" pk=artifact.id %}" class="btn btn-sm btn-primary text-white">
          Download artifact
        </a>
        <a href="{% url "collect_artifact_download_signature_view" pk=artifact.id %}"
           class="btn btn-sm btn-primary text-white">
          Download artifact signature
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  {% include "helpers/extra_attributes.html" with attributes=artifact.attributes %}
  <div class="col-md-12 mt-2">
    <h3>{% translate "Comments" %}</h3>
    {% for comment in artifact.sorted_comments %}
      {% include "comment/list_item.html" %}
    {% empty %}
      {% translate "No comment" %}
    {% endfor %}
    {% include "comment/form.html" with elt_id=artifact.id %}
  </div>
</div>
