{% load i18n %}

{% with targets=entity.out_relations origins=entity.in_relations %}
    {% if origins or targets %}
      <div class="col-md-12 mt-2">
        <h5>{% translate "Relationships" %}</h5>
        <table class="table table-sm">
          <thead class="bg-secondary-light">
          <tr>
            <th class="col-2">Verb</th>
            <th>Entity</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          {% for relation in origins %}
            {% include "entity_relation/table_item.html" with direction="from" %}
          {% endfor %}
          {% for relation in targets %}
            {% include "entity_relation/table_item.html" with direction="to" %}
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  {% endwith %}
