{% load i18n %}


<div class="btn-group" role="group">
  {% if "details" not in exclude %}
    <a href="{% url "collect_observable_details_view" case_id=observable.case.id pk=observable.id %}" class="btn btn-primary {{ btn_class }}">
      <i class="nf nf-fa-eye"></i>
      {% translate "Details" %}
    </a>
  {% endif %}
  {% if "edit" not in exclude %}
    <a href="{% url "collect_observable_update_view" case_id=observable.case.id pk=observable.id %}" class="btn btn-primary {{ btn_class }}">
      <i class="nf nf-fa-edit"></i>
      {% translate "Edit" %}
    </a>
  {% endif %}
  {% if "capture" not in exclude and observable.type.short_name == "URL" %}
    <a href="{% url "collect_observable_capture_view" case_id=observable.case.id pk=observable.id %}" class="btn btn-primary {{ btn_class }}">
      <i class="nf nf-fa-camera"></i>
      {% translate "Capture" %}
    </a>
  {% endif %}
  {% if "analyze" not in exclude %}
    <form class="form-inline" action="{% url "investigate_base_view" case_id=observable.case.id  %}" method="get" id="investigate-{{ observable.id }}">
      <input type="hidden" name="super_type" value="OBSERVABLE">
      <input type="hidden" name="type" value="{{ observable.type.short_name }}">
      <input type="hidden" name="value" value="{{ observable.value }}">
    </form>
    <button class="btn btn-primary {{ btn_class }}" type="submit" form="investigate-{{ observable.id }}">
      <i class="nf nf-fa-search"></i>
      {% translate "Investigate" %}
    </button>

  {% endif %}
  {% if "delete" not in exclude %}
    <a href="{% url "collect_observable_delete_view" case_id=observable.case.id pk=observable.id %}"
       class="delete-entity-btn btn btn-danger text-white {{ btn_class }}">
      <i class="nf nf-fa-trash"></i>
      Delete
    </a>
  {% endif %}
</div>
