{% load i18n %}

<div class="row justify-content-center">
  <div class="col-md-12 mt-2">
    <h2><i class="nf {{ observable.type.nf_icon }} text-primary"></i> {{ observable.value }}</h2>
    <div class="mb-3">
      {% if observable.description %}
        {{ observable.description }}
      {% else %}
        {% translate "No description" %}
      {% endif %}
    </div>
    {% include "observable/controls.html" with exclude="details" %}
  </div>
  <div class="col-md-12 mt-2">
    <h3>{% translate "Details" %}</h3>
    <table class="table table-sm">
      <tbody>
      <tr>
        <td>ID</td>
        <td>
          {% include "icons/id_icon.html" with c="text-primary" %}
          <span class="font-monospace">
              {{ observable.id }}
            </span>
        </td>
      </tr>
      <tr>
        <td>Case</td>
        <td>
          {% include "icons/case_icon.html" with c="text-primary" %}
          <a href="{% url "collect_case_details_view" pk=observable.case.id %}">
            {{ observable.case.name }}
          </a>
        </td>
      </tr>
      <tr>
        <td>Owner</td>
        <td>
          {% include "icons/user_icon.html" with c="text-primary" %}
          {{ observable.owner }}
        </td>
      </tr>
      <tr>
        <td>Type</td>
        <td>
          <i class="nf {{ observable.type.nf_icon }} text-primary"></i>
          {{ observable.type.name }}
        </td>
      </tr>
      <tr>
        <td>Created at</td>
        <td>
          {% include "icons/date_icon.html" with c="text-primary" %}
          {{ observable.created_at }}
        </td>
      </tr>
      <tr>
        <td>Updated at</td>
        <td>
          {% include "icons/date_icon.html" with c="text-primary" %}
          {{ observable.updated_at }}
        </td>
      </tr>
      <tr>
        <td>TLP/PAP</td>
        <td>
          {% include "tlp/show_tlp_pap.html" with element=observable %}
        </td>
      </tr>
      <tr>
        <td>Extracted from</td>
        <td>
          {% if observable.extracted_from %}
            <i class="nf {{ observable.extracted_from.type.nf_icon }} text-primary"></i>
            <a href="{% url "collect_artifact_details_view" pk=observable.extracted_from.id %}">
              {{ observable.extracted_from.original_name }}
            </a>
            ({{ observable.extracted_from.type }})
          {% else %}
            {% translate "No artifact specified" %}
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>Source</td>
        <td>
          {% if observable.source_url %}
            <i class="nf {{ observable.extracted_from.type.nf_icon }} text-primary"></i>
            <a href="{{ observable.source_url }}" target="_blank">
              {{ observable.source_url }}
              <i class="nf nf-fa-external_link text-primary"></i>
            </a>
          {% else %}
            {% translate "No source specified" %}
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>Threat</td>
        <td>
          {% if observable.associated_threat %}
            <i class="nf {{ observable.associated_threat.type.nf_icon }} text-primary"></i>
            <a href="{% url "collect_threat_details_view" pk=observable.associated_threat_id %}">
              {{ observable.associated_threat.name }}
            </a>
            ({{ observable.associated_threat.type }})
          {% else %}
            {% translate "No theat specified" %}
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>Operated by</td>
        <td>
          {% if observable.operated_by %}
            <i class="nf {{ observable.operated_by.type.nf_icon }} text-primary"></i>
            <a href="{% url "collect_actor_details_view" pk=observable.operated_by_id %}">
              {{ observable.operated_by.name }}
            </a>
            ({{ observable.operated_by.type }})
          {% else %}
            {% translate "No operator specified" %}
          {% endif %}
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  {% include "helpers/extra_attributes.html" with attributes=observable.attributes %}

  {% with targets=observable.relation_targets.all origins=observable.relation_origins.all %}
    {% if origins or targets %}
      <div class="col-md-12 mt-2">
        <h3>{% translate "Related observables" %}</h3>
        <table class="table table-sm">
          <thead class="bg-secondary-light">
          <tr>
            <td>Type</td>
            <td>Observable</td>
            <td>Creation date</td>
            <td></td>
          </tr>
          </thead>
          <tbody>
          {% for relation in origins %}
            {% include "observable_relation/table_item.html" with direction="to" %}
          {% endfor %}
          {% for relation in targets %}
            {% include "observable_relation/table_item.html" with direction="from" %}
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  {% endwith %}

  <div class="col-md-12 mt-2">
    <h3>{% translate "Events" %}</h3>
    {% for event in observable.sorted_events %}
      {% include "event/list_item.html" %}
    {% empty %}
      {% translate "No events" %}
    {% endfor %}
  </div>
  <div class="col-md-12 mt-2">
    <h3>{% translate "Comments" %}</h3>
    {% for comment in observable.sorted_comments %}
      {% include "comment/list_item.html" %}
    {% empty %}
      {% translate "No comment" %}
    {% endfor %}
  </div>
</div>
