{% load i18n %}
<div class="btn-group {{ c }}" role="group" aria-label="Basic example">
  <a href="{% url "case_details_view" pk=case.id %}" class="btn btn-primary" title="{% translate "Details" %}">
    <i class="nf nf-fa-eye"></i>
    {% translate "Details" %}
  </a>
  <a href="{% url "cases_select_view" pk=case.id %}" class="btn btn-primary" title="{% translate "Select" %}">
    <i class="nf nf-cod-arrow_swap"></i>
    {% translate "Select" %}
  </a>
  {% if not compact %}
    <a href="{% url "case_update_view" pk=case.id %}" class="btn btn-primary" title="{% translate "Edit" %}">
      <i class="nf nf-fa-edit"></i>
      {% translate "Edit" %}
    </a>
  {% endif %}
</div>
