{% load crispy_forms_tags %}
{% load i18n %}
{% url 'import_case_view' as import_case_view_url %}
<div class="col-xl-8 mt-2">
  {% if is_editing %}
    <h2>{% translate "Edit this case" %}</h2>
  {% else %}
    <h2>
      <span>{% translate "New case" %}</span>
      <span>or</span>
      <a class=""
         href="{{ import_case_view_url }}" title="{% translate "Import a Case archive" %}">
        <i class="fa fa-file-import"></i><span>{% translate "import an archive" %}</span>
      </a>
    </h2>
  {% endif %}
  <div class="card mb-2 bg-secondary-light">
    <div class="card-body">
      <form method="post" autocomplete="off">
        {% csrf_token %}
        <div class="row justify-content-center">
          <div class="col">
            <div is="vue:Suggester"
                 data-type="Case"
                 data-csrf-token="{{ csrf_token }}">
              {{ form.name|as_crispy_field }}
            </div>
            {{ form.parent_case|as_crispy_field }}
            {{ form.tlp|as_crispy_field }}
            {{ form.pap|as_crispy_field }}
            {{ form.description|as_crispy_field }}
          </div>
          <div class="col-md-4">
            {{ form.teams|as_crispy_field }}
          </div>
        </div>
        {% if is_editing %}
          <button class="btn btn-primary" type="submit" name="save_case">{% translate "Update" %}</button>
        {% else %}
          <button class="btn btn-primary" type="submit" name="save_case">{% translate "Create" %}</button>
        {% endif %}
      </form>
    </div>
  </div>
</div>
