{% load i18n %}
{% load static %}
{% load markdownify %}
{% load colander_tags %}
{% can_contribute case as is_accessible %}
<div class="row justify-content-center">
  <div class="col-md-12 mt-2">
    <h5>
      {% include "icons/case_icon.html" with subcase=case.is_sub_case open=contextual_case%} {{ case.name }}
    </h5>
    <div class="mb-3">
      {% if case.description %}
        {{ case.description | markdownify }}
      {% else %}
        {% translate "No description" %}
      {% endif %}
    </div>
    {% include "case/controls.html" with exclude="details" %}
  </div>
  <div class="col-md-12 mt-2">
    <h5>{% translate "Details" %}</h5>
    <table class="table table-sm">
      <tbody>
      <tr>
        <td>ID</td>
        <td>
          {% include "icons/id_icon.html" with c="text-primary" %}
          <span class="font-monospace">
              {{ case.id }}
          </span>
        </td>
      </tr>
      <tr>
        <td>Public key</td>
        <td>
          <a href="#" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#pubKeyModal">
            View key
          </a>
          <a href="{% url "cases_download_key_view" pk=case.id %}" class="btn btn-sm btn-secondary">
            Download key
          </a>
          <div class="modal fade modal-lg" id="pubKeyModal" tabindex="-1"
               aria-labelledby="pubKeyModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="pubKeyModalLabel">RSA public key</h1>
                </div>
                <div class="modal-body">
                  <pre><code>{{ case.verify_key }}</code></pre>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Owner</td>
        <td>
          {% include "icons/user_icon.html" with c="text-primary" %}
          {{ case.owner }}
        </td>
      </tr>
      <tr>
        <td>Created at</td>
        <td>
          {% include "helpers/date_since.html" with date=case.created_at c="text-primary" %}
        </td>
      </tr>
      <tr>
        <td>Updated at</td>
        <td>
          {% include "helpers/date_since.html" with date=case.updated_at c="text-primary" %}
        </td>
      </tr>
      <tr>
        <td>TLP/PAP</td>
        <td>
          {% include "tlp/show_tlp_pap.html" with element=case %}
        </td>
      </tr>
      {% if case.is_sub_case %}
      {% can_contribute case.parent_case as is_accessible %}
      <tr>
        <td>Parent case</td>
        <td>
            {% include "icons/case_icon.html" with parentcase=True c='text-primary' %}
            <a {% if is_accessible %}href="{% url 'case_details_view' pk=case.parent_case.id %}"{% endif %}
               class="{% if not is_accessible %}disabled{% endif %}">
              {{ case.parent_case }}
            </a>
        </td>
      </tr>
      {% endif %}
      {% if case.is_parent_case %}
      <tr>
        <td>Sub cases</td>
        <td>
          {% for subcase in case.subcases %}
            {% can_contribute subcase as is_accessible %}
            <div>
              {% include "icons/case_icon.html" with subcase=True c='text-primary' %}
              <a {% if is_accessible %}href="{% url 'case_details_view' pk=subcase.id %}"{% endif %}
                 class="{% if not is_accessible %}disabled{% endif %}">
                {{ subcase }}
              </a>
            </div>
          {% endfor %}
        </td>
      </tr>
      {% endif %}
      </tbody>
    </table>
  </div>

  {% include "helpers/extra_attributes.html" with attributes=case.attributes %}
</div>

<div class="row justify-content-center">

  <div class="col-md-12 mt-2">
    {% include "pages/quick_search/m_result_table.html" with results=case.entities %}
  </div>

{% with events=case.events %}
  {% if case.events %}
    <div class="col-md-12">
      <h5>{% translate "Timeline" %}</h5>
      {% include "event/timeline.html" %}
    </div>
  {% endif %}
{% endwith %}

  {% if case.documentation %}
    <div class="col-md-12 mt-2">
      <h5>Documentation</h5>
      <div class="m-1">{{ case.documentation|markdownify }}</div>
    </div>
  {% endif %}
</div>

