{% load crispy_forms_tags %}
{% if documentation_form %}
  <div is="vue:documentation-pane"
       data-src="{% url "cases_save_doc_view" case_id=request.contextual_case.id %}"
       data-case-id="{{ request.contextual_case.id }}"
       {{ off_canvas|yesno:"data-off-canvas,," }}>
    <form class="form" method="post" id="case_documentation_form"
          action="{% url "cases_save_doc_view" case_id=request.contextual_case.id %}">
      {% csrf_token %}
      <div class="form-group">
        {{ documentation_form | crispy }}
      </div>
      <div id='documentation-save-hidden-in-offcanvas' class="form-group text-end">
        <a id='documentation-export-as-markdown' class="btn btn-primary text-white" role="button" href="{% url "cases_doc_export_as_markdown_view" case_id=request.contextual_case.id %}" target="_blank">
          <i class="nf fa fa-file-text-o"></i> Export as Markdown
        </a>
        <button id='documentation-revert' class="btn btn-primary text-white" role="button" title="Revert to original version and lose changes" disabled>
          <i class="nf nf-fa-undo"></i> Revert
        </button>
        <button id='documentation-save' class="btn btn-primary text-white" type="submit" role="button" disabled>
          <i class="nf nf-fa-save"></i> Save documentation
        </button>
      </div>
    </form>
  </div>
{% endif %}
