{% load crispy_forms_tags %}
{% if documentation_form %}
  <form class="form" method="post" id="case_documentation_form"
        action="{% url "cases_save_doc_view" pk=request.active_case.id %}">
    {% csrf_token %}
    <div class="form-group">
      {{ documentation_form | crispy }}
    </div>
    <div id='documentation-save-hidden-in-offcanvas' class="form-group text-end">
      <button id='documentation-save' class="btn btn-primary text-white" type="submit" role="button">
        <i class="nf nf-fa-save"></i> Save documentation
      </button>
    </div>
  </form>
  <script type="text/javascript">
    $(() => {
      var simplemde = new SimpleMDE(
        {
          autoDownloadFontAwesome: false,
          spellChecker: false,
          element: $("#id_documentation")[0],
          status: false,
        }
      );
    });
    $('#documentation-save').click(() => {
      $('#case_documentation_form').submit();
    });
  </script>
{% endif %}
