{% load static %}

{% block context_css %}
  <link href="{% static 'css/graph.css' %}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block context_javascript %}
  <script type="text/javascript" src="{% static 'js/colander-dgraph.js' %}"></script>
{% endblock %}

<div id="ze-graph"></div>

<script type="text/javascript">
  let cdg = new ColanderDGraph( 'ze-graph', `/case/{{ case.id }}/graph` );
  cdg.enable({
    {% if lock %}
      lock: true,
    {% else %}
      recenter: true,
      snapshot: true,
      fullscreen: true,
      sidepane: true,
    {% endif %}
  });
</script>
