{% load i18n %}
{% load colander_tags %}
{% can_contribute case as is_accessible %}
<div class="card m-1 shadow-sm bg-secondary-light border-secondary{% if not is_accessible %} disabled{% endif %}">
  <div class="card-body p-2">
    <div class="row">
      <div class="{% if not compact %}col-md-8 border-end border-secondary{% else %}col-md-12{% endif %} text-truncate">
        <div class="{% if not compact %}border-bottom border-secondary{% endif %}">
          <span class="{% if compact %}h5{% else %}h4{% endif %} text-primary">
            {% include "icons/case_icon.html" with subcase=case.is_sub_case c='text-primary' %}
            <a {% if is_accessible %}href="{% url "case_details_view" pk=case.id %}"{% endif %}
               class="{% if not is_accessible %}disabled{% endif %}">
              {{ case.name }}
            </a>
          </span>
          {% if compact %}
            <span class="text-tiny text-muted">
              {% include "icons/date_icon.html" %}
              Updated at: {{ case.updated_at }}
            </span>
            <span style='float: right;'>
              {% include 'case/controls.html' with c='btn-group-sm' %}
            </span>
          {% endif %}
        </div>
        {% if not compact %}
          <div>
            <div class="text-tiny font-monospace text-muted mt-1">
              {% include "icons/id_icon.html" %}{{ case.id }}
            </div>
            <div class="text-tiny text-muted">
              {% include "icons/date_icon.html" %}
              {{ case.created_at }}
            </div>
            <div class="text-tiny text-muted">
              {% include "icons/user_icon.html" %}
              {{ case.owner }} {% if case.owner == request.user %}(me){% endif %}
            </div>
          </div>
        {% endif %}
      </div>
      {% if not compact %}
        <div class="col-md-4 text-truncate ">
        <div class="row">
          <div class="col small">
            Shared with:<br>
            {% for team in case.teams.all %}
              <i class="nf nf-fa-users text-primary"></i>
              {{ team }}<br>
            {% empty %}
              Nobody
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  {% if not compact %}
    <div class="card-footer bg-transparent border-secondary m-0 p-1 text-end">
      {% include 'case/controls.html' %}
    </div>
  {% endif %}
</div>
