{% extends "pages/collect/base.html" %}
{% load static %}


{% block content %}
  {% block inner-content %}
    {% if search_results %}
       <div class="row justify-content-center mt-2">
         <h2>Search for <em>{{ search_query }}</em></h2>
         <p>Go back to <a href="{% url 'collect_quick_creation_view' contextual_case.id %}">quick entity creation page</a>.</p>
       </div>
    {% else %}
      <div class="row justify-content-center">
        <div class="col-md-12" id="quick-create-entities">
          <h2 class="my-2">Quickly create new entities</h2>
          <div class="card mb-4 bg-secondary-light">
            <div class="card-body">
              <form method="post" autocomplete="off">
                {% csrf_token %}
                <div class="row">
                  {% include "helpers/dynamic_type_selector.html" %}
                </div>
                <div class="row justify-content-center">
                  <div class="col-md-9 mt-3 text-center">
                    <h4>Entity name(s)</h4>
                    <textarea class="form-control"
                      name="name"
                      rows="4"
                      required
                      placeholder="Enter the name(s) of the entities to be created, one per line."
                    ></textarea>
                    <button class="btn btn-primary mt-3" type="submit" name="create_entity">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="row justify-content-center">
      <div class="col">
        {% include "pages/quick_search/m_result_table.html" with results=entities %}
      </div>
    </div>
  {% endblock inner-content %}
  {{ models|json_script:"models-data" }}
{% endblock content %}

{% block vue_javascript %}
  {% include "helpers/dynamic_type_selector_js.html" with dom_container="quick-create-entities" dom_data_container="models-data" %}
{% endblock vue_javascript %}
