{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load colander_tags %}


{% block collaborate-sidebar-items %}
  {% url 'collaborate_team_create_view' as collaborate_team_create_view_url %}
  <a
    class="list-group-item list-group-item-action list-group-item-light{% if collaborate_team_create_view_url in request.path %} active {% endif %}"
    href="{% url "collaborate_team_create_view" %}" title="Teams">
    {% include "icons/team_icon.html" %}
    <span class="list-group-item-label">Teams</span>
  </a>
  {% comment %}
  {% url 'collaborate_detection_rule_out_feed_create_view' as collaborate_detection_rule_out_feed_create_view_url %}
  {% url 'collaborate_entity_out_feed_create_view' as collaborate_entity_out_feed_create_view_url %}
  <a
    class="list-group-item list-group-item-action list-group-item-light{% if collaborate_entity_out_feed_create_view_url in request.path %} active {% endif %}"
    href="{% url "collaborate_entity_out_feed_create_view" %}" title="Entities export feeds">
    <i class="nf nf-md-code_json"></i>
    <span class="list-group-item-label">Entities export feeds</span>
  </a>
  <a
    class="list-group-item list-group-item-action list-group-item-light{% if collaborate_detection_rule_out_feed_create_view_url in request.path %} active {% endif %}"
    href="{% url "collaborate_detection_rule_out_feed_create_view" %}" title="Detection rules export feeds">
    {% include "icons/out_feed_icon.html" %}
    <span class="list-group-item-label">Detection rules export feeds</span>
  </a>
  {% endcomment %}
{% endblock collaborate-sidebar-items %}

{% block content %}
  {% block inner-content %}
    <div class="row justify-content-center mt-2">
      <div class="col-md-12">
        <div class="alert alert-info text-muted">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          Your contributor ID is: <samp>{{ request.user.contributor_id }}</samp>
        </div>
        <h2>My teams</h2>
      </div>
      <div class="col-md-5">
        <div class="card bg-secondary-light">
          <div class="card-body">
            <h3>The teams I manage</h3>
            <ul class="list-unstyled">
              {% for team in request.user.my_teams %}
                <li>
                  <i class="nf nf-fa-users text-primary"></i>
                  <a href="{% url "collaborate_team_details_view" pk=team.id %}" title="View details">{{ team.name }}</a>
                  ({{ team.contributors.count }}
                  contributor{{ team.contributors.count|pluralize:"s" }})
                  <ul class="small">
                    <li class="">
                      <i class="nf nf-fa-user_circle_o text-muted"></i>
                      {{ team.owner }} (owner)
                    </li>
                    {% for c in team.contributors.all %}
                      <li><i class="nf nf-fa-user text-muted"></i> {{ c }}</li>
                    {% endfor %}
                  </ul>
                </li>
              {% empty %}
                No team
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card bg-secondary-light">
          <div class="card-body">
            <h3>The teams I contribute to</h3>
            <ul class="list-unstyled">
              {% for team in request.user.my_teams_as_collaborator %}
                <li>
                  <i class="nf nf-fa-users text-primary"></i>
                  {{ team.name }} ({{ team.contributors.count }}
                  contributor{{ team.contributors.count|pluralize:"s" }})
                  <ul class="small">
                    <li class="">
                      <i class="nf nf-fa-user_circle_o text-muted"></i>
                      {{ team.owner }} (owner)
                    </li>
                    {% for c in team.contributors.all %}
                      <li><i class="nf nf-fa-user text-muted"></i> {{ c }}</li>
                    {% endfor %}
                  </ul>
                </li>
              {% empty %}
                No team
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  {% endblock inner-content %}
{% endblock content %}

