{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load i18n %}

{% block content %}
  <div class="mt-2">
    <h2>{% translate "Dropped files waiting for triage" %}</h2>
    {% if drops %}
      <div is="vue:DropfileTriage" data-csrf-token="{{ csrf_token }}">
        <template v-slot:listing>
          <div id="triage-actions" class="input-group">
            <button
              type="button"
              class="btn btn-primary"
              role="review"
              disabled>
              Review
              <span class="badge bg-secondary" style="display: none;">0</span>
            </button>
            <button
              type="button"
              class="btn btn-danger text-white delete-entity-btn"
              role="delete"
              disabled
              is="vue:ConfirmButton">
              Delete
              <span class="badge bg-secondary" style="display: none;">0</span>
            </button>
          </div>
          <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col" class="text-nowrap" style="width: 1px;">-</th>
                  <th scope="col" class="text-nowrap" style="width: 1px;">Dropped at</th>
                  <th scope="col" class="text-nowrap">Filename / Source</th>
                  <th scope="col" style="width: 1px;">Type</th>
                  <th scope="col" style="width: 1px;">Case</th>
                </tr>
              </thead>
              <tbody>
                {% for drop in drops %}
                  <tr>
                    <td class="text-nowrap">
                      <div class="form-check">
                        <input class='form-check-input dropped-file-selection-checkbox'
                               id="dropped-file-checkbox-{{ drop.id }}"
                               type="checkbox"
                               value="{{ drop.id }}"/>
                      </div>
                    </td>
                    <td class="text-nowrap"
                        title="{{ drop.dropped_at }}">
                      <label for="dropped-file-checkbox-{{ drop.id }}">
                        {{ drop.dropped_at|date:'d/m/y H:i' }}
                      </label>
                    </td>
                    <td class="overflow-hidden" style="max-width: 50px;">
                      <label for="dropped-file-checkbox-{{ drop.id }}">
                        <div title="{{ drop.filename }}"
                             class="text-truncate text-primary">{{ drop.filename }}</div>
                        {% if 'source_url' in drop.attributes %}
                          <div title="{{ drop.attributes.source_url }}"
                               class="text-truncate font-monospace">{{ drop.attributes.source_url }}</div>
                        {% else %}
                          <div class="no-wrap">-</div>
                        {% endif %}
                      </label>
                    </td>
                    <td>
                      <label for="dropped-file-checkbox-{{ drop.id }}">
                        {% if drop.mime_type %}
                          <span class="text-nowrap">{{ drop.mime_type }}</span>
                        {% else %}
                          <span class="text-nowrap">-</span>
                        {% endif %}
                      </label>
                    </td>
                    <td class="text-nowrap">
                      <label for="dropped-file-checkbox-{{ drop.id }}">
                        {{ drop.case }}
                      </label>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
        </template>
        <template v-slot:modal>
          <div class="modal fade" id="triage-modal" tabindex="-1" aria-labelledby="triage-modal-title" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header modal-header-wizard">
                  <h1 class="modal-title fs-5" id="triage-modal-title">{% translate "Convert to Artifact" %}</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  <div class="modal-header-break"></div>
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                      <button id="triage-case-tab" data-bs-target="#triage-case" class="nav-link active disabled" data-bs-toggle="tab" role="tab" aria-selected="true">1. Case</button>
                    </li>
                    <li class="nav-item">
                      <button id="triage-artifact-tab" data-bs-target="#triage-artifact" class="nav-link disabled" data-bs-toggle="tab" role="tab" aria-selected="false">2. Artifact</button>
                    </li>
                    <li class="nav-item">
                      <button id="triage-attributes-tab" data-bs-target="#triage-attributes" class="nav-link disabled" data-bs-toggle="tab" role="tab" aria-selected="false">3. Attributes</button>
                    </li>
                    <li class="nav-item">
                      <button id="triage-details-tab" data-bs-target="#triage-details" class="nav-link disabled" data-bs-toggle="tab" role="tab" aria-selected="false">4. Details</button>
                    </li>
                  </ul>
                </div>
                <form id="triage-form" class="tab-content" method="post">
                  {% csrf_token %}
                  {{ conversion_form.delete_action }}
                  <div class="visually-hidden">
                    {{ conversion_form.dropped_files|as_crispy_field }}
                  </div>
                  <div class="tab-pane active" id="triage-case" role="tabpanel" aria-labelledby="triage-case-tab">
                    <div class="modal-body">
                      <div class="row batch-elem">
                        <div class="col-12 alert alert-info">
                          Please pay attention: following properties will apply to all converted dropped files into artifacts.
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          {{ conversion_form.case|as_crispy_field }}
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" role="next" disabled>Next</button>
                    </div>
                  </div>
                  <div class="tab-pane" id="triage-artifact" role="tabpanel" aria-labelledby="triage-properties-tab">
                    <div class="modal-body">
                      <div class="row non-batch-elem">
                        <div class="col-12">
                          {{ conversion_form.name|as_crispy_field }}
                        </div>
                      </div>
                      <div class="row non-batch-elem">
                        <div class="col-12">
                          {{ conversion_form.source_url|as_crispy_field }}
                        </div>
                      </div>
                      <div class="row batch-elem">
                        <div class="col-12 alert alert-info">
                          Converting multiple dropped files at once will assume artifact name set to dropped file filename.
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          {{ conversion_form.type|as_crispy_field }}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-6">
                          {{ conversion_form.tlp|as_crispy_field }}
                        </div>
                        <div class="col-6">
                          {{ conversion_form.pap|as_crispy_field }}
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" role="previous">Previous</button>
                      <button type="button" class="btn btn-primary" role="next">Next</button>
                    </div>
                  </div>
                  <div class="tab-pane" id="triage-attributes" role="tabpanel" aria-labelledby="triage-details-tab">
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-12">
                          <div is="vue:HStoreTable" data-type="Artifact">
                            {{ conversion_form.attributes|as_crispy_field }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" role="previous">Previous</button>
                      <button type="button" class="btn btn-primary" role="next">Next</button>
                    </div>
                  </div>
                  <div class="tab-pane" id="triage-details" role="tabpanel" aria-labelledby="triage-details-tab">
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-12">
                          {{ conversion_form.description|as_crispy_field }}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          {{ conversion_form.extracted_from|as_crispy_field }}
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <p class="text-secondary">
                        After conversion,
                        <span class="non-batch-elem">this dropped file entry</span>
                        <span class="batch-elem">these dropped files entries</span>
                        will be recycled and deleted.</p>
                      <button type="button" class="btn btn-secondary" role="previous">Previous</button>
                      <button type="button" class="btn btn-primary" role="convert">Convert</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </template>
      </div>
    {% else %}
      <div class="row">
        <div class="col-md-12">
          <p>You have no dropped files yet.</p>
        </div>
        <div class="col-md-12">
          <p>
            If you use Firefox browser, you may want to use <a href="https://pts-project.org/colander-companion/">Colander Companion</a> browser extension
            to collect web content.
            Simply follow the appropriate cookbook to set up
            <a href="https://pts-project.org/cookbooks/colander-companion-setup/" title="Setup Colander Companion web extension ">Colander Companion on your desktop</a> or
            <a href="https://pts-project.org/cookbooks/colander-companion-mobile-setup/" title="Setup Colander Companion on mobile/tablet">for mobile/tablet device</a>.
          </p>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
