{% load i18n %}
{% load markdownify %}

<div class="row justify-content-center my-2">
  <div class="col">
    <h5>{% include "icons/pills.html" with elt=event %} {{ event.name }}</h5>
    {% if event.attributes.tags %}
      <div class="my-2">{% include "helpers/tags.html" with entity=event %}</div>
    {% endif %}
    <div class="mb-3">
      {% if event.description %}
        {{ event.description | markdownify }}
      {% else %}
        {% translate "No description" %}
      {% endif %}
    </div>
    {% include "event/controls.html" with exclude="details" btn_class="" %}
  </div>
  {% if event.thumbnail %}
    <div class="col-md-2 position-relative">
      <img class="img-thumbnail position-absolute top-0 end-0 me-2" src="{{event.thumbnail_url}}" alt="{{event.name}}" style="max-height: 100px" />
    </div>
  {% endif %}
</div>

<div class="row justify-content-center">
  <div class="col-md-6 mt-2">
    <h5>{% translate "Details" %}</h5>
    <table class="table table-sm">
      <tbody>
      <tr>
        <td>ID</td>
        <td>
          {% include "icons/id_icon.html" with c="text-primary" %}
          <span class="font-monospace">
              {{ event.id }}
            </span>
        </td>
      </tr>
      <tr>
        <td>Case</td>
        <td>
          {% include "icons/case_icon.html" with c="text-primary" %}
          <a href="{% url "case_details_view" pk=event.case.id %}">
            {{ event.case.name }}
          </a>
        </td>
      </tr>
      <tr>
        <td>Owner</td>
        <td>
          {% include "icons/user_icon.html" with c="text-primary" %}
          {{ event.owner }}
        </td>
      </tr>
      <tr>
        <td>Type</td>
        <td>
          <i class="nf {{ event.type.nf_icon }} text-primary"></i>
          {{ event.type.name }}
        </td>
      </tr>
      <tr>
        <td>Created at</td>
        <td>
          {% include "helpers/date_since.html" with date=event.created_at c="text-primary" %}
        </td>
      </tr>
      <tr>
        <td>Updated at</td>
        <td>
          {% include "helpers/date_since.html" with date=event.updated_at c="text-primary" %}
        </td>
      </tr>
      <tr>
        <td>TLP/PAP</td>
        <td>
          {% include "tlp/show_tlp_pap.html" with element=event %}
        </td>
      </tr>
      <tr>
        <td>Extracted from</td>
        <td>
          {% if event.extracted_from %}
            <i class="nf {{ event.extracted_from.type.nf_icon }} text-primary"></i>
            <a href="{% url "collect_artifact_details_view" case_id=event.extracted_from.case.id pk=event.extracted_from_id %}">
              {{ event.extracted_from.original_name }}
            </a>
            ({{ event.extracted_from.type }})
          {% else %}
            {% translate "No artifact specified" %}
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>Source</td>
        <td>
          {% if event.source_url %}
            <i class="nf {{ event.extracted_from.type.nf_icon }} text-primary"></i>
            <a href="{{ event.source_url }}" target="_blank">
              {{ event.source_url }}
              <i class="nf nf-fa-external_link text-primary"></i>
            </a>
          {% else %}
            {% translate "No source specified" %}
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>First seen</td>
        <td>
          {% include "icons/date_icon.html" with c="text-primary" %}
          {{ event.first_seen }}
        </td>
      </tr>
      <tr>
        <td>Last seen</td>
        <td>
          {% include "icons/date_icon.html" with c="text-primary" %}
          {{ event.last_seen }}
        </td>
      </tr>
      <tr>
        <td>Count</td>
        <td>{% translate "seen" %} {{ event.count }} {% translate "times" %}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6 mt-2">
    <h5>{% translate "Attributes" %}</h5>
    {% include "helpers/extra_attributes_light.html" with attributes=event.attributes %}
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-12 mt-2">
    <h5>{% translate "Involved observables" %}</h5>
    {% for observable in event.involved_observables.all %}
      {% include "observable/list_item.html" %}
    {% empty %}
      {% translate "No observables" %}
    {% endfor %}
  </div>
</div>
<div class="row justify-content-center">
  {% include "helpers/entity_comments.html" with entity=event %}
</div>
