{% extends "base.html" %}
{% load static i18n %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>

  {% if object == request.user %}
    <div class="row">
      <div class="col-md-12">
        <table class="table table-sm">
          <tbody>
          <tr>
            <td class=""><b>E-mail address</b></td>
            <td>
              <ul class="list-unstyled m-0">
                {% for email in request.user.emailaddress_set.all %}
                  <samp>{{ email }}</samp>
                {% endfor %}
              </ul>
            </td>
            <td>
              <a class="btn btn-sm btn-primary" href="{% url 'account_email' %}" role="button">Manage</a>
            </td>
          </tr>
          <tr>
            <td><b>2FA</b></td>
            <td>
              {% if request.user.staticdevice_set.exists %}
                <span class="badge bg-success">2FA enabled</span>
              {% else %}
                <span class="badge bg-warning text-white">2FA not enabled</span>
              {% endif %}
            </td>
            <td>
              {% if request.user.staticdevice_set.exists %}
                <a class="btn btn-sm btn-primary" href="{% url 'two-factor-backup-tokens' %}" role="button">Backup
                  tokens</a>
              {% else %}
                <a class="btn btn-sm btn-primary" href="{% url 'two-factor-setup' %}" role="button">Setup 2FA</a>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td><b>Contributor ID</b></td>
            <td>
              <code>{{ request.user.contributor_id }}</code>
            </td>
            <td></td>
          </tr>
          <tr>
            <td><b>API key</b></td>
            <td>
              <code>{{ request.user.token }}</code>
            </td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>
              <a class="btn btn-sm btn-primary text-nowrap" role='button' href="{% url 'account_logout' %}">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                {% translate "Log Out" %}
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12 mt-2">
        <h3>Connect your PiRogue</h3>
        <p>
          If you have a <a href="https://pts-project.org/docs/pirogue/overview/" title="PiRogue documentation">PiRogue</a>,
          you can connect it to Colander and start collecting artifacts from it. To do so, run the following commands on
          your PiRogue:
        </p>
        <pre class="bg-dark text-white text-wrap p-3 rounded"><code>sudo apt update<br>
sudo apt install -y pirogue-colander-connector<br>
pirogue-colander config -u "{{ request.scheme }}://{{ request.META.HTTP_HOST }}" -k "{{ request.user.token }}"</code></pre>
      </div>
    </div>
  {% endif %}

{% endblock content %}
