{% extends "pages/workspace/base.html" %}
{% load static %}

{% block collect-sidebar-items %}
  {% url 'collect_actor_create_view' case_id=contextual_case.id as collect_actor_view_url %}
  {% url 'collect_artifact_create_view' case_id=contextual_case.id as collect_artifact_view_url %}
  {% url 'collect_device_create_view' case_id=contextual_case.id as collect_device_view_url %}
  {% url 'collect_detection_rule_create_view' case_id=contextual_case.id as collect_detection_rule_create_view_url %}
  {% url 'collect_threat_create_view' case_id=contextual_case.id as collect_threat_create_view_url %}
  {% url 'collect_observable_create_view' case_id=contextual_case.id as collect_observable_create_view_url %}
  {% url 'collect_event_create_view' case_id=contextual_case.id as collect_event_view_url %}
  {% url 'collect_data_fragment_create_view' case_id=contextual_case.id as collect_data_fragment_create_view_url %}
  {% url 'collect_entity_relation_create_view' case_id=contextual_case.id as collect_relation_create_view_url %}
  {% url 'collect_experiment_create_view' case_id=contextual_case.id as collect_experiment_create_view_url %}
  {% comment %}
  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-3 mb-1 text-muted">
    <span>Knowledge</span>
    <a href="{% url "collect_quick_creation_view" %}" class="text-primary">
      <i class="nf nf-fa-plus_square"></i>
    </a>
  </h6>
  <a id='quick-add-entity' href="{% url "collect_quick_creation_view" %}" title="Quick entity creation">
    <i class="nf nf-fa-plus_square"></i>
  </a>
  {% endcomment %}
  <a class="list-group-item list-group-item-action list-group-item-light{% if collect_actor_view_url in request.path %} active {% endif %}"
     href="{{ collect_actor_view_url }}" title="Actors">
    {% include "icons/actor_icon.html" %}
    <span class="list-group-item-label">Actors</span>
  </a>
  <a class="list-group-item list-group-item-action list-group-item-light{% if collect_artifact_view_url in request.path %} active {% endif %}"
     href="{{ collect_artifact_view_url }}" title="Artifacts">
    {% include "icons/artifact_icon.html" %}
    <span class="list-group-item-label">Artifacts</span>
  </a>
  <a class="list-group-item list-group-item-action list-group-item-light{% if collect_device_view_url in request.path %} active {% endif %}"
     href="{{ collect_device_view_url }}" title="Devices">
    {% include "icons/device_icon.html" %}
    <span class="list-group-item-label">Devices</span>
  </a>
  <a class="list-group-item list-group-item-action list-group-item-light{% if collect_detection_rule_create_view_url in request.path %} active {% endif %}"
     href="{{ collect_detection_rule_create_view_url }}" title="Detection rules">
    {% include "icons/detection_rule_icon.html" %}
    <span class="list-group-item-label">Detection rules</span>
  </a>
  <a class="list-group-item list-group-item-action list-group-item-light{% if collect_threat_create_view_url in request.path %} active {% endif %}"
     href="{{ collect_threat_create_view_url }}" title="Threats">
    {% include "icons/threat_icon.html" %}
    <span class="list-group-item-label">Threats</span>
  </a>
  <a class="list-group-item list-group-item-action list-group-item-light{% if collect_observable_create_view_url in request.path %} active {% endif %}"
     href="{{ collect_observable_create_view_url }}" title="Observable">
    {% include "icons/observable_icon.html" %}
    <span class="list-group-item-label">Observables</span>
  </a>
  <a class="list-group-item list-group-item-action list-group-item-light{% if collect_event_view_url in request.path %} active {% endif %}"
     href="{{ collect_event_view_url }}" title="Events">
    {% include "icons/event_icon.html" %}
    <span class="list-group-item-label">Events</span>
  </a>
  <a class="list-group-item list-group-item-action list-group-item-light{% if collect_data_fragment_create_view_url in request.path %} active {% endif %}"
     href="{{ collect_data_fragment_create_view_url }}" title="Fragment of data">
    {% include "icons/data_fragment_icon.html" %}
    <span class="list-group-item-label">Fragment of data</span>
  </a>
  <a class="list-group-item list-group-item-action list-group-item-light{% if collect_relation_create_view_url in request.path %} active {% endif %}"
     href="{{ collect_relation_create_view_url }}" title="Relations">
    {% include "icons/relation_icon.html" %}
    <span class="list-group-item-label">Relations</span>
  </a>
  <a class="list-group-item list-group-item-action list-group-item-light{% if collect_experiment_create_view_url in request.path %} active {% endif %}"
     href="{{ collect_experiment_create_view_url }}" title="PiRogue experiment">
    {% include "icons/experiment_icon.html" %}
    <span class="list-group-item-label">PiRogue experiment</span>
  </a>
{% endblock collect-sidebar-items %}

{% block content %}
  {% block inner-content %}
    <div class="row justify-content-center">
      <div class="col-md-12">
        <h2>{{ request.active_case.name }}</h2>
        <table class="table table-sm">
          <tbody>
          <tr>
            <td>ID</td>
            <td>
              {% include "icons/id_icon.html" with c="text-primary" %}
              <span class="font-monospace">
              {{ request.active_case.id }}
            </span>
            </td>
          </tr>
          <tr>
            <td>Case</td>
            <td>
              {% include "icons/case_icon.html" with c="text-primary" %}
              <a href="{% url "case_details_view" pk=request.active_case.id %}">
                {{ request.active_case.name }}
              </a>
            </td>
          </tr>
          <tr>
            <td>Owner</td>
            <td>
              {% include "icons/user_icon.html" with c="text-primary" %}
              {{ request.active_case.owner }}
            </td>
          </tr>
          <tr>
            <td>Created at</td>
            <td>
              {% include "icons/date_icon.html" with c="text-primary" %}
              {{ request.active_case.created_at }}
            </td>
          </tr>
          <tr>
            <td>Description</td>
            <td>
              {{ request.active_case.description }}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12">
        <h3>Graph view</h3>
        {% include "case/graph.html" with case=request.active_case %}
      </div>
    </div>
  {% endblock inner-content %}

  {% if entity_types %}
    {#  Inject entity subtypes such as IPv4, Domain name, etc  #}
    {#  Used by colander-hstore-table-edit.js to inject default attributes  #}
    {{ entity_types|json_script:"entity_types" }}
  {% endif %}
{% endblock content %}


