{% extends "pages/collect/base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load i18n %}


{% block inner-content %}
  <div class="row justify-content-center">
    <div class="col-md-12 mt-2">
      {% if is_editing %}
        <h2>{% translate "Edit this detection rule" %}</h2>
      {% else %}
        <h2>{% translate "New detection rule" %}</h2>
      {% endif %}
      <div class="card mb-4 bg-secondary-light">
        <div class="card-body">
          <form method="post" enctype="multipart/form-data" id="crud_form">
            {% csrf_token %}
            <div class="row justify-content-center">
              <div class="col-md-4">
                {{ form.type|as_crispy_field }}
                {{ form.tlp|as_crispy_field }}
                {{ form.pap|as_crispy_field }}
                {{ form.source_url|as_crispy_field }}
                {{ form.description|as_crispy_field }}
                {{ form.thumbnail }}
                <div class="text-end">
                  {% if is_editing %}
                    <button class="btn btn-primary" type="submit" form="crud_form" name="save_detection_rule">{% translate "Update" %}</button>
                  {% else %}
                    <button class="btn btn-primary" type="submit" form="crud_form" name="save_detection_rule">{% translate "Create" %}</button>
                  {% endif %}
                </div>
              </div>
              <div class="col-8">
                <div is="vue:Suggester"
                     data-type="DetectionRule"
                     data-csrf-token="{{ csrf_token }}"
                     data-case-id="{{ contextual_case.id }}">
                  {{ form.name|as_crispy_field }}
                </div>
                {{ form.content|as_crispy_field }}
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-md-12">
      <h2>{% translate "Latest detection rules" %}</h2>
        {% if detection_rules %}
          {% for detection_rule in detection_rules %}
            {% include "detection_rule/list_item.html" %}
          {% endfor %}
        {% endif %}
      </div>
  </div>
{% endblock inner-content %}
