{% extends "pages/collect/base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load i18n %}

{% block inner-content %}
  <div class="row justify-content-center">
    <div class="col-md-12 mt-2">
      {% if is_editing %}
        <h2>{% translate "Edit this device" %}</h2>
      {% else %}
        <h2>{% translate "New device" %}</h2>
      {% endif %}
      <div class="card mb-4 bg-secondary-light">
        <div class="card-body">
          <form method="post" autocomplete="off">
            {% csrf_token %}
            <div class="row justify-content-center">
              <div class="col-md-4">
                {{ form.type|as_crispy_field }}
              </div>
              <div class="col">
                {{ form.name|as_crispy_field }}
                {{ form.tlp|as_crispy_field }}
                {{ form.pap|as_crispy_field }}
                {{ form.operated_by|as_crispy_field }}
                {{ form.source_url|as_crispy_field }}
                {{ form.description|as_crispy_field }}
                {% if is_editing %}
                  <button class="btn btn-primary" type="submit" name="save_device">{% translate "Update" %}</button>
                {% else %}
                  <button class="btn btn-primary" type="submit" name="save_device">{% translate "Create" %}</button>
                {% endif %}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-md-12">
      <h2>{% translate "Latest devices" %}</h2>
      {% if devices %}
        {% for device in devices %}
          {% include "device/list_item.html" %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock inner-content %}

{% block inline_javascript %}
  <script>
    window.addEventListener('DOMContentLoaded', () => {
      let input = $("input[name=name]");
      suggest_entity(input, 'Device', '{{ csrf_token }}', '{{ contextual_case.id }}');
    });
  </script>
{% endblock inline_javascript %}
