{% extends "pages/collect/base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load i18n %}

{% block inner-content %}
  <div class="row justify-content-center">
    <div class="col-md-12 mt-2">
      {% if is_editing %}
        <h2>{% translate "Edit this observable" %}</h2>
      {% else %}
        <h2>{% translate "New observable" %}</h2>
      {% endif %}
      <div class="card mb-4 bg-secondary-light">
        <div class="card-body">
          <form method="post" enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %}
            <div class="row justify-content-center">
              <div class="col-md-3">
                {{ form.type|as_crispy_field }}
              </div>
              <div class="col">
                {{ form.name|as_crispy_field }}
                {{ form.tlp|as_crispy_field }}
                {{ form.pap|as_crispy_field }}
                {{ form.extracted_from|as_crispy_field }}
                {{ form.associated_threat|as_crispy_field }}
                {{ form.operated_by|as_crispy_field }}
                {{ form.source_url|as_crispy_field }}
                {{ form.description|as_crispy_field }}
                {% if is_editing %}
                  <button class="btn btn-primary" type="submit" name="save_observable">{% translate "Update" %}</button>
                {% else %}
                  <button class="btn btn-primary" type="submit" name="save_observable">{% translate "Create" %}</button>
                {% endif %}
              </div>
              <div class="col">
                {{ form.classification|as_crispy_field }}
                {{ form.attributes|as_crispy_field }}
                {{ form.thumbnail }}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-md-12">
      <h2>{% translate "Latest observables" %}</h2>
      {% if observables %}
        {% for observable in observables %}
          {% include "observable/list_item.html" %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock inner-content %}

{% block inline_javascript %}
  <script>
    window.addEventListener('DOMContentLoaded', () => {
      let input = $("input[name=name]");
      suggest_entity(input, 'Observable', '{{ csrf_token }}', '{{ contextual_case.id }}');
    });
  </script>
{% endblock inline_javascript %}
