{% load i18n %}

<div class="row justify-content-center">
  <div class="col-md-12 mt-2">
    <h2><i class="nf {{ actor.type.nf_icon }} text-primary"></i> {{ actor.name }}</h2>
    <div class="mb-3">
      {% if actor.description %}
        {{ actor.description }}
      {% else %}
        {% translate "No description" %}
      {% endif %}
    </div>
    {% include "actor/controls.html" with exclude="details" %}
  </div>
  <div class="col-md-12 mt-2">
    <h3>{% translate "Details" %}</h3>
    <table class="table table-sm">
      <tbody>
      <tr>
        <td>ID</td>
        <td>
          {% include "icons/id_icon.html" with c="text-primary" %}
          <span class="font-monospace">
              {{ actor.id }}
            </span>
        </td>
      </tr>
      <tr>
        <td>Case</td>
        <td>
          {% include "icons/case_icon.html" with c="text-primary" %}
          <a href="{% url "collect_case_details_view" pk=actor.case.id %}">
            {{ actor.case.name }}
          </a>
        </td>
      </tr>
      <tr>
        <td>Owner</td>
        <td>
          {% include "icons/user_icon.html" with c="text-primary" %}
          {{ actor.owner }}
        </td>
      </tr>
      <tr>
        <td>Type</td>
        <td>
          <i class="nf {{ actor.type.nf_icon }} text-primary"></i>
          {{ actor.type.name }}
        </td>
      </tr>
      <tr>
        <td>Created at</td>
        <td>
          {% include "icons/date_icon.html" with c="text-primary" %}
          {{ actor.created_at }}
        </td>
      </tr>
      <tr>
        <td>Updated at</td>
        <td>
          {% include "icons/date_icon.html" with c="text-primary" %}
          {{ actor.updated_at }}
        </td>
      </tr>
      <tr>
        <td>TLP/PAP</td>
        <td>
          {% include "tlp/show_tlp_pap.html" with element=actor %}
        </td>
      </tr>
      <tr>
        <td>Source</td>
        <td>
          {% if actor.source_url %}
            <i class="nf {{ actor.extracted_from.type.nf_icon }} text-primary"></i>
            <a href="{{ actor.source_url }}" target="_blank">
              {{ actor.source_url }}
              <i class="nf nf-fa-external_link text-primary"></i>
            </a>
          {% else %}
            {% translate "No source specified" %}
          {% endif %}
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  {% include "helpers/extra_attributes.html" with attributes=actor.attributes %}

  {% if actor.observables %}
    <div class="col-md-12 mt-2">
      <h3>{% translate "Operated observables" %}</h3>
      <table class="table table-sm">
        <thead class="bg-secondary-light">
        <tr>
          <td>Type</td>
          <td>Entity</td>
          <td></td>
        </tr>
        </thead>
        <tbody>
        {% for observable in actor.observables.all %}
          <tr>
            <td>
              operates
            </td>
            <td>
              <i class="nf {{ observable.type.nf_icon }} text-primary"></i>
              <a href="{{ observable.get_absolute_url }}">
                <samp>{{ observable }}</samp>
              </a>
            </td>
            <td class="text-end">
              {% include "observable/controls.html" with btn_class="btn-sm" exclude="delete" %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}

  {% with targets=actor.out_relations origins=actor.in_relations %}
    {% if origins or targets %}
      <div class="col-md-12 mt-2">
        <h3>{% translate "Related entities" %}</h3>
        <table class="table table-sm">
          <thead class="bg-secondary-light">
          <tr>
            <td>Type</td>
            <td>Entity</td>
            <td></td>
          </tr>
          </thead>
          <tbody>
          {% for relation in origins %}
            {% include "entity_relation/table_item.html" with direction="from" %}
          {% endfor %}
          {% for relation in targets %}
            {% include "entity_relation/table_item.html" with direction="to" %}
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  {% endwith %}

  <div class="col-md-12 mt-2">
    <h3>{% translate "Comments" %}</h3>
    {% for comment in actor.sorted_comments %}
      {% include "comment/list_item.html" %}
    {% empty %}
      {% translate "No comment" %}
    {% endfor %}
    {% include "comment/form.html" with elt_id=actor.id %}
  </div>
</div>
