{% load i18n colander_tags %}<div class='vue-container'>
  {% url 'collect_quick_creation_view' case_id=contextual_case.id as collect_quick_creation_view_url %}
  {% url 'home' as home_view_url %}
  {% if contextual_case %}
    {% define collect_quick_creation_view_url as action_url %}
  {% else %}
    {% define home_view_url as action_url %}
  {% endif %}
  <form id="overall-search-form" method="POST" action="{{action_url}}">
    {% csrf_token %}
    <input type='hidden' name='case_id' value='{{ contextual_case.id }}'/>
    <input id="overall-search" v-model="currentSearch" class="form-control form-control-dark w-100" name="q" type="text" placeholder="Search" aria-label="Search" autocomplete="off" />
    <i id="overall-search-icon" class="nf nf-md-magnify" aria-hidden="true"></i>
    <div id="overall-search-result" v-if="results.length > 0">
      <div class="list-group">
        <a v-for="r in results" v-bind:href="r.url" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">
              <i class="fa fa-circle" v-bind:style="{color:r.color}" data-bs-toggle="tooltip" data-bs-placement="top" v-bind:title="r.model_name"></i>
              <i v-if="r.tlp == 'WHITE' || r.tlp == 'CLEAR'" class="fa fa-circle text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="TLP:CLEAR"></i>
              <i v-else-if="r.tlp == 'GREEN'" class="fa fa-circle text-success" data-bs-toggle="tooltip" data-bs-placement="top" title="TLP:GREEN"></i>
              <i v-else-if="r.tlp == 'AMBER'" class="fa fa-circle text-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="TLP:AMBER"></i>
              <i v-else-if="r.tlp == 'RED'" class="fa fa-circle text-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="TLP:RED"></i>
              <i v-else class="fa fa-circle text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="No TLP"></i>
              <i v-if="r.pap == 'WHITE' || r.pap == 'CLEAR'" class="fa fa-circle text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="PAP:CLEAR"></i>
              <i v-else-if="r.pap == 'GREEN'" class="fa fa-circle text-success" data-bs-toggle="tooltip" data-bs-placement="top" title="PAP:GREEN"></i>
              <i v-else-if="r.pap == 'AMBER'" class="fa fa-circle text-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="PAP:AMBER"></i>
              <i v-else-if="r.pap == 'RED'" class="fa fa-circle text-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="PAP:RED"></i>
              <i v-else class="fa fa-circle text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="No PAP"></i>
              <i v-if="r.is_malicious" class="fa fa-circle text-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Malicious"></i>
              <i v-else class="fa fa-circle text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="No threat"></i>
              <i v-if="r.type_icon" v-bind:class="['nf', r.type_icon, 'text-muted']" data-bs-toggle="tooltip" data-bs-placement="top" v-bind:title="r.type"></i>
              [[r.name]]
            </h5>
            <small class="text-muted">[[r.model_name]] - [[r.type]]</small>
          </div>
          <!--
          <p class="mb-1">[[r.tlp]] [[r.pap]] [[r.type]] [[r.model_name]]</p>
          -->
          <small class="text-muted">Case : [[r.case]]</small>
        </a>
      </div>
    </div>
  </form>
</div>
