<div class="col">
  <h4>Entity</h4>
  <select
    v-model="selectedModel"
    id="id_super_type_selector"
    size="6"
    required
    class="form-select"
    name="super_type">
    <option v-for="option in modelNames" :value="option.short_name">[[option.name]]</option>
  </select>
</div>
<div class="col">
  <h4>Type</h4>
  <select
    v-model="selectedType"
    size="6"
    id="id_type_selector"
    required
    name="type"
    class="form-select">
    <option v-for="option in modelTypes" :value="option.id">[[option.name]]</option>
  </select>
</div>
