{% load i18n %}


<div class="btn-group" role="group">
  {% if "details" not in exclude %}
    <a href="{% url "collect_detection_rule_details_view" case_id=detection_rule.case.id pk=detection_rule.id %}"
       class="btn btn-primary {{ btn_class }}">
      <i class="nf nf-fa-eye"></i>
      {% translate "Details" %}
    </a>
  {% endif %}
  {% if "edit" not in exclude %}
    <a href="{% url "collect_detection_rule_update_view" case_id=detection_rule.case.id pk=detection_rule.id %}"
       class="btn btn-primary {{ btn_class }}">
      <i class="nf nf-fa-edit"></i>
      {% translate "Edit" %}
    </a>
  {% endif %}
  {% if "delete" not in exclude %}
    <a href="{% url "collect_detection_rule_delete_view" case_id=detection_rule.case.id pk=detection_rule.id %}"
       class="delete-entity-btn btn btn-danger text-white {{ btn_class }}"
       is="vue:ConfirmButton">
      <i class="nf nf-fa-trash"></i>
      Delete
    </a>
  {% endif %}
</div>
