{% load i18n %}


<div class="card m-1 shadow-sm bg-secondary-light border-secondary">
  <div class="card-body p-2">
    <div class="row">
      <div class="col-md-12 text-truncate">
        <div class="border-bottom border-secondary">
          {% include "icons/template_icon.html" with c="h4 text-primary" %}
          {{ template.name }}
        </div>
        <div>
          <div class="text-tiny font-monospace text-muted mt-1">
            {% include "icons/id_icon.html" %}{{ template.id }}
          </div>
          <div class="text-tiny text-muted">
            {% include "icons/date_icon.html" %}
            {{ template.created_at }}
          </div>
          <div class="text-tiny text-muted">
            {% include "icons/user_icon.html" %}
            {{ template.owner }} {% if template.owner == request.user %}(me){% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer bg-transparent border-secondary m-0 p-1 text-end">
    {% include "feed/template_controls.html" with btn_class="btn-sm" exclude="" %}
  </div>
</div>
