<div class='vue-container container py-2'>
  <div class="body attributes-form">
    <div class="input-group mb-1" v-for="(a, index) in attributes" :key="index">
      <input type="text" class="form-control" placeholder="Key" aria-label="Key"
             v-on:keyup="update_key(index, $event)"
             v-model="attributes[index].key">
      <span class="input-group-text">=</span>
      <input type="text" class="form-control" placeholder="Value" aria-label="Value"
             v-on:keyup="update_value(index, $event)"
             v-model="attributes[index].value">
      <a href="#" class="btn btn-outline-danger" v-on:click="delete_attribute(index, $event)"><i class="fa fa-trash"></i></a>
    </div>
    <a href="#" class="btn btn-sm btn-outline-primary" v-on:click="add_attribute($event)"><i class="fa fa-plus"></i></a>
  </div>
</div>
