{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card bg-secondary-light">
        <div class="card-body">
          <h3 class="card-title">
            {% trans "Disable Two-Factor Authentication" %}
          </h3>

          <p>
            {% trans "Please enter a valid authentication token to disable two-factor authentication:" %}
          </p>

          <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="text-center">
              <button type="submit" class="btn btn-warning">
                {% trans 'Disable Two-Factor' %}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
