{% load static i18n compress %}{% load colander_tags %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <title>{% block title %}colander{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="Digital investigation platform"/>
  <meta name="author" content="Esther Onfroy"/>

  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicons/favicon-16x16.png' %}" />

  {# Stylesheets ================================================== #}
  {% block css %}
    {% compress css %}
      <link href="{% static 'css/dist/project.css' %}" type="text/css" rel="stylesheet"/>
      <link href="{% static 'css/fork-awesome.min.css' %}" type="text/css" rel="stylesheet"/>
      <link href="{% static 'css/flag-icons.min.css' %}" type="text/css" rel="stylesheet"/>
      <link href="{% static 'css/nf.min.css' %}" type="text/css" rel="stylesheet"/>
      <link href="{% static 'pts-assets/css/pts-assets.css' %}" type="text/css" media="all" rel="stylesheet"/>
      <link href="{% static 'css/externals/simplemde.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
    {% endcompress %}
  {% endblock %}
  {% compress css %}
    {% block context_css %}{% endblock %}
  {% endcompress %}
  {# Javscripts ================================================== #}
  {% block javascript %}
    {% compress js %}
      <script src="{% static 'js/externals/jquery.min.js' %}"></script>
      <script src="{% static 'js/externals/vue.min.js' %}"></script>
      <script src="{% static 'js/externals/simplemde.min.js' %}"></script>
      <script src="{% static 'js/externals/bootstrap.bundle.min.js' %}"></script>
    {% endcompress %}
    <script src="{% static 'js/dist/colander-widgets.js' %}"></script>
  {% endblock javascript %}
  {% block context_javascript %}{% endblock %}
</head>

<body>
  {% url 'home' as home_url %}
  {% url 'case_base_view' as case_base_view_url %}
  {% url 'case_create_view' as case_create_view_url %}
  {% url 'collaborate_base_view' as collaborate_base_view_url %}
  {% url 'dropped_files_triage_base_view' as dropped_files_triage_base_view_url %}
  {% url 'cron-jobs' as cron_url %}

  {% block top_bar %}
  <header class="navbar navbar-dark sticky-top bg-primary flex-nowrap p-0 shadow">
    <div class="navbar-brand col-lg-auto col-md-3 d-flex">
      <a class="me-0 px-3 flex-grow-1" href="/">
        <i class="icon-pts-project" aria-hidden="true"></i>
        <span>Colander</span>
      </a>
      {% if request.user.is_authenticated %}
        <a class="text-end text-secondary px-2" title="Status" href="{% url 'colander_status_view' %}">
          <i class="nf nf-md-list_status"></i>
        </a>
      {% endif %}
    </div>
    <!--
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    -->
    <div id="overall-case-or-search" class="w-100">
      {% if contextual_case %}
        {% define contextual_case.name as title_placeholder %}
      {% else %}
        {% define "Select a case to work on" as title_placeholder %}
      {% endif %}
      <div id="overall-case-selection" class="w-50" tabindex="0">
        <div class="case-title">
          {% include "icons/case_icon.html" with open=contextual_case subcase=contextual_case.is_sub_case %}
          {{ title_placeholder }}
          <i id="overall-case-list-toggle-icon" class="nf nf-fa-toggle_down" aria-hidden="true"></i>
        </div>
        <div id="overall-case-list">
          <div class="list-group">
            {% for case in request.user_cases %}
              {% if not case.is_sub_case %}
                {% if contextual_case.id == case.id %}
                  {% define True as case_is_opened %}
                {% else %}
                  {% define False as case_is_opened %}
                {% endif %}
                <a href="{% url "case_workspace_view" case_id=case.id %}" class="list-group-item list-group-item-action {% if case == contextual_case %}active{% endif %}" aria-current="{% if case is contextual_case %}true{% else %}false{% endif %}">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                      {% include "icons/case_icon.html" with subcase=case.is_sub_case open=case_is_opened %}
                      {{ case.name }}
                    </h5>
                    <small class="{% if not case == contextual_case %}text-muted{% endif %}">{{ case.updated_at }}</small>
                  </div>
                  <p class="mb-1 text-muted">{{ case.description }}</p>
                </a>
                {% if case.is_parent_case %}
                  {% for subcase in case.subcases %}
                    {% if contextual_case.id == subcase.id %}
                      {% define True as subcase_is_opened %}
                    {% else %}
                      {% define False as subcase_is_opened %}
                    {% endif %}
                    <a href="{% url "case_workspace_view" case_id=subcase.id %}" class="list-group-item list-group-item-action {% if subcase == contextual_case %}active{% endif %}" aria-current="{% if subcase is contextual_case %}true{% else %}false{% endif %}">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">
                          {% include "icons/case_icon.html" with subcase=True open=subcase_is_opened %}
                          {{ subcase.name }}
                        </h5>
                        <small class="{% if not subcase == contextual_case %}text-muted{% endif %}">{{ subcase.updated_at }}</small>
                      </div>
                      <p class="mb-1 text-muted">{{ subcase.description }}</p>
                    </a>
                  {% endfor %}
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
          </div>
      </div>
      {% url 'collect_quick_creation_view' case_id=contextual_case.id as collect_quick_creation_view_url %}
      {% url 'home' as home_view_url %}
      {% if contextual_case %}
        {% define collect_quick_creation_view_url as action_url %}
      {% else %}
        {% define home_view_url as action_url %}
      {% endif %}
      <div id="toolbar-search" class="w-50" style="overflow: hidden;"
           is="vue:ToolbarSearch"
           data-action-url="{{ action_url }}"
           data-case-id="{{ contextual_case.id }}"
           data-csrf-token="{{ csrf_token }}">
        <form id="overall-search-form" method="post" action="{% url "quick_search_view" %}" class="w-50">
          {% csrf_token %}
          <input id="overall-search" class="form-control form-control-dark w-100" name="q" type="text" placeholder="Search" aria-label="Search" autocomplete="off"/>
          <i id="overall-search-icon" class="nf nf-md-magnify" aria-hidden="true"></i>
          <div id="overall-search-result">
            <div class="list-group">
              {% for case in request.user_cases %}
                <a href="{% url "case_workspace_view" case_id=case.id %}" class="list-group-item list-group-item-action {% if case == contextual_case %}active{% endif %}" aria-current="{% if case is contextual_case %}true{% else %}false{% endif %}">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ case.name }}</h5>
                    <small class="{% if not case == contextual_case %}text-muted{% endif %}">{{ case.updated_at }}</small>
                  </div>
                  <p class="mb-1 text-muted">{{ case.description }}</p>
{#                  <small class="{% if not case == contextual_case %}text-muted{% endif %}">And some small print.</small>#}
                </a>
              {% endfor %}
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="text-light">
      {% if request.user.is_authenticated %}
       {# URL provided by django-allauth/account/urls.py #}
        <a class="nav-link px-3 text-nowrap" href="{% url 'users:detail' request.user.username %}">
          <i class="nf nf-fa-user list-group-item-icon nav-link-label" aria-hidden="true"></i>
          <span class="nav-link-label d-none d-md-inline">{{ request.user }}</span>
        </a>
      {% else %}
        {% if ACCOUNT_ALLOW_REGISTRATION %}
          {# URL provided by django-allauth/account/urls.py #}
          <a id="sign-up-link" class="nav-link px-3" href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a>
        {% endif %}
        {# URL provided by django-allauth/account/urls.py #}
        <a id="log-in-link" class="nav-link px-3" href="{% url 'account_login' %}">{% translate "Log In" %}</a>
      {% endif %}
    </div>
  </header>
  {% endblock %}

  {% block main_wrapper %}
  <div id="main-wrapper" class="d-flex">
    <aside id="sidebar-wrapper">
      {% block root-sidebar-menu %}
        {% comment %}
        <div class="p-3">
          <div>
            {% if request.active_case %}
              <div>
                <a href="{% url "case_details_view" pk=request.active_case.id %}">
                  {% include "icons/case_icon.html" with c="text-primary" %}
                  {{ request.active_case.name }}
                </a>
              </div>
              <div class="small text-muted">
                {% include "icons/date_icon.html" %}
                {{ request.active_case.created_at }}
              </div>
            {% else %}
              No case selected, select one.
            {% endif %}
          </div>
          <div>
            <button class="btn btn-primary mt-2" type="button" data-bs-toggle="modal"
                    data-bs-target="#caseSwitchModal">
              <i class="nf nf-cod-arrow_swap"></i>
              Switch case
            </button>
            <!--
            <br>
            <button class="btn btn-primary text-white mt-2" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#documentationOffCanvas" aria-controls="documentationOffCanvas">
              <i class="nf nf-fa-file_text"></i>
              Doc editor
            </button>
            -->
          </div>
        </div>
        {% endcomment %}
        <div class="list-group list-group-flush">
          {% comment %}
          <a class="list-group-item list-group-item-action list-group-item-light fw-bold{% if request.path == home_url %} active {% endif %}" href="{% url 'home' %}">
            <i class="nf nf-fa-home list-group-item-icon"></i>
            <span class="d-none d-sm-inline list-group-item-label">Home</span>
          </a>
          {% endcomment %}
          <a class="list-group-item list-group-item-action list-group-item-light fw-bold{% if request.path == home_url %} active {% endif %}" href="{% url 'home' %}">
            <i class="nf nf-fa-home list-group-item-icon"></i>
            <span class="d-none d-sm-inline list-group-item-label">Dashboard</span>
          </a>
          <a class="list-group-item list-group-item-action list-group-item-light fw-bold {% active_link case_base_view_url %}"
             href="{{ case_base_view_url }}" title="Cases">
            {% include "icons/case_icon.html" with open=False %}
            <span class="list-group-item-label">Cases</span>
          </a>
          <a class="list-group-item list-group-item-action list-group-item-light fw-bold {% active_link dropped_files_triage_base_view_url %}"
             href="{{ dropped_files_triage_base_view_url }}" title="Dropped files triage">
            <i class="nf nf-fa-inbox list-group-item-icon"></i>
            <span class="list-group-item-label">Drops</span>
          </a>
          <a class="list-group-item list-group-item-action list-group-item-light fw-bold {% active_link collaborate_base_view_url %}"
             href="{{ collaborate_base_view_url }}">
            {% comment %}<i class="nf nf-fa-share_alt" aria-hidden="true"></i>{% endcomment %}
            <i class="nf nf-fa-handshake_o" aria-hidden="true"></i>
            <span class="d-none d-sm-inline list-group-item-label">Collaborate</span>
          </a>
          <div class="list-group list-group-flush list-group-secondary">
            {% block collaborate-sidebar-items %}{% endblock collaborate-sidebar-items %}
          </div>
          {% comment %}
          <a class="list-group-item list-group-item-action list-group-item-light fw-bold {% active_link collect_quick_creation_view_url %}"
             href="{{ collect_quick_creation_view_url }}">
            <i class="fa fa-th" aria-hidden="true"></i>
            <span class="d-none d-sm-inline list-group-item-label">Collect</span>
          </a>
          <div class="list-group list-group-flush list-group-secondary">
            {% block collect-sidebar-items %}{% endblock collect-sidebar-items %}
          </div>
          <a class="list-group-item list-group-item-action list-group-item-light fw-bold {% active_link graph_base_view_url %}"
             href="{{ graph_base_view_url }}">
            <i class="fa fa-hubzilla" aria-hidden="true"></i>
            <span class="d-none d-sm-inline list-group-item-label">Graph</span>
          </a>
          <div class="list-group list-group-flush list-group-secondary">
            {% block graph-sidebar-items %}{% endblock graph-sidebar-items %}
          </div>
          <a class="list-group-item list-group-item-action list-group-item-light fw-bold {% active_link document_cases_write_doc_url %}"
             href="{{ document_cases_write_doc_url }}">
            <i class="nf nf-fa-file_text list-group-item-icon" aria-hidden="true"></i>
            <span class="d-none d-sm-inline list-group-item-label">Document</span>
          </a>
          <a class="list-group-item list-group-item-action list-group-item-light fw-bold {% active_link investigate_base_view_url %}"
             href="{{ investigate_base_view_url }}">
            <i class="nf nf-fa-search list-group-item-icon" aria-hidden="true"></i>
            <span class="d-none d-sm-inline list-group-item-label">Investigate</span>
          </a>
          <a class="list-group-item list-group-item-action list-group-item-light fw-bold {% active_link cyberchef_base_url %}"
             href="{{ cyberchef_base_url }}" target="_blank">
            <i class="icon-cyberchef_hat" aria-hidden="true"></i>
            <!--img height="12px" src="{% static "images/cyberchef_hat.svg" %}" class="list-group-item-icon" /-->
            <span class="d-none d-sm-inline list-group-item-label">Cyberchef</span>
          </a>
        {% endcomment %}
        {% comment "FIXEME: To clean since My Profile has moved to header" %}
        {% if request.user.is_authenticated %}
            {# URL provided by django-allauth/account/urls.py #}
            <a class="list-group-item list-group-item-action list-group-item-light" href="{% url 'users:detail' request.user.username %}">
              <i class="nf nf-fa-user list-group-item-icon" aria-hidden="true"></i>
              <span class="d-none d-sm-inline list-group-item-label">{% translate "My Profile" %}</span>
            </a>
        {% endif %}
        {% endcomment %}
        </div>
      {% endblock root-sidebar-menu %}
      <div class="fixed-bottom m-2 h4">
        <a href="https://pts-project.org/docs/colander/overview/"
           class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover"
           alt="Colander documentation"
           title="Colander documentation"
           target="_blank"
        >
          <i class="nf nf-cod-book"></i>
        </a>
        <a href="https://github.com/PiRogueToolSuite/colander"
           class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover"
           alt="Colander source code on GitHub"
           title="Colander source code on GitHub"
           target="_blank"
        >
          <i class="nf nf-fa-github"></i>
        </a>
        <a href="https://github.com/PiRogueToolSuite/colander/commit/{{ request.GIT_COMMIT_HASH }}"
           class="link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover"
           alt="Git commit hash"
           title="Git commit hash"
           target="_blank"
        >
          <span class="font-monospace text-muted text-small">{{ request.GIT_COMMIT_HASH|truncatechars:7 }}</span>
        </a>
      </div>
    </aside>
    <div id="page-content-wrapper">
      <main class="container-fluid">
        {% if messages %}
          {% for message in messages %}
            <div class="mt-2 alert alert-dismissible alert-{{ message.level_tag | bs_alert_level_class }}">
              {% if message.level_tag == 'success' %}
                <i class="fa fa-check" aria-hidden="true"></i>
              {% endif %}
              {% if message.level_tag == 'info' %}
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              {% endif %}
              {% if message.level_tag == 'warning' %}
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
              {% endif %}
              {% if message.level_tag == 'error' %}
                <i class="fa fa-ambulance" aria-hidden="true"></i>
              {% endif %}
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}
        {% block content %}
          <p>Use this document as a way to quick start any new project.</p>
        {% endblock content %}
      </main>
    </div>
  </div>
  {% endblock %}
  {% comment %}
  <div class="toast-container position-absolute p-3 pt-5 top-0 end-0" style="z-index: 10000;">
    <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header bg-secondary text-light">
        <strong class="me-auto">New toast</strong>
        <small class=" text-light">just now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Toast content sample.
      </div>
    </div>
  </div>
  {% endcomment %}
  {% block offcanvas %}{% endblock offcanvas %}
  {% block modal %}
    <div class="modal fade" id="caseSwitchModal" tabindex="-1" aria-labelledby="caseSwitchModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="caseSwitchModalLabel">{% translate "Switch to another case" %}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <ul>
              {% for case in request.user_cases %}
                <li>
                  {{ case.name }} <a href="{% url "cases_select_view" pk=case.id %}">Select</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  {% endblock modal %}
  {% block inline_javascript %}{% endblock inline_javascript %}
  {% block vue_javascript %}{% endblock vue_javascript %}
  <img alt='Cron Job triggering' width="1" height="1" src="{{cron_url}}" style="display: none;" />
  {# Extra scripts #}
  {% comment %}
  <script src="{% static 'js/externals/popper.min.js' %}"></script>
  <script src="{% static 'js/externals/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/externals/bootstrap.bundle.min.js' %}"></script>
  {% endcomment %}
</body>
</html>
