{% load static i18n compress %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}colander{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Assets storage and analysis">
  <meta name="author" content="Esther Onfroy">

  <link rel="icon" href="{% static 'images/favicons/favicon-16x16.png' %}">

  {% block css %}
    <!-- This file stores project-specific CSS -->
    {% compress css %}
      <link href="{% static 'css/project.css' %}" type="text/css" rel="stylesheet">
      <link href="{% static 'css/bootstrap-vue.min.css' %}" type="text/css" rel="stylesheet">
      <link href="{% static 'css/fork-awesome.min.css' %}" type="text/css" rel="stylesheet">
      <link href="{% static 'css/tempus-dominus.min.css' %}" type="text/css" rel="stylesheet">
      <link href="{% static 'css/flag-icons.min.css' %}" type="text/css" rel="stylesheet">
      <link href="{% static 'css/nf.min.css' %}" type="text/css" rel="stylesheet">
      <link href="{% static 'css/myLib.css' %}" type="text/css" rel="stylesheet">
      <link href="{% static 'pts-assets/css/pts-assets.css' %}" type="text/css" media="all" rel="stylesheet"/>
      <link href="{% static 'vendors/simplemde/css/simplemde.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
    {% endcompress %}
  {% endblock %}
  <!-- Le javascript
  ================================================== -->
  {# Placed at the top of the document so pages load faster with defer #}
  {% block javascript %}
    <!-- place project specific Javascript in this file -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/project.js' %}"></script>
    <script src="{% static 'js/file_upload.js' %}"></script>
    {% compress js %}
      <script src="{% static 'js/webcomponents-bundle.js' %}"></script>
      <script src="{% static 'js/vue.min.js' %}"></script>
      <script src="{% static 'js/myLib.umd.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/bootstrap-vue.min.js' %}"></script>
      <script src="{% static 'js/bootstrap-vue-icons.min.js' %}"></script>
      <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
      <script src="{% static 'vendors/simplemde/js/simplemde.min.js' %}"></script>
    {% endcompress %}
  {% endblock javascript %}

</head>

<body>
  {% url 'home' as home_url %}
  {% url 'collect_base_view' as collect_base_view_url %}
  {% url 'investigate_base_view' as investigate_base_view_url %}
  {% url 'analyze_base_view' observable_id='z' as analyze_base_view_url %}
  {% url 'report_base_view' as report_base_view_url %}
  {% url 'document_case_write_doc_view' as document_cases_write_doc_url %}
  {% url 'cron-jobs' as cron_url %}

  {% block top_bar %}
  <header class="navbar navbar-dark sticky-top bg-primary flex-nowrap p-0 shadow">
    <div class="navbar-brand col-lg-auto col-md-3">
      <a class="me-0 px-3" href="#">
        <i class="icon-pts-project" aria-hidden="true"></i>
        <span>Colander</span>
      </a>
    </div>
    <!--
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    -->
    <form method="post" action="{% url "quick_search_view" %}" class="w-100">
      {% csrf_token %}
      <input class="form-control form-control-dark w-100" name="q" type="text" placeholder="Search" aria-label="Search">
    </form>
    <div class="navbar-nav">
      <div class="nav-item">
        {% if request.user.is_authenticated %}
         {# URL provided by django-allauth/account/urls.py #}
          <a class="nav-link px-3 text-nowrap" href="{% url 'users:detail' request.user.username %}">
            <i class="nf nf-fa-user list-group-item-icon nav-link-label" aria-hidden="true"></i>
            <span class="nav-link-label d-none d-md-inline">{% translate "My Profile" %}</span>
          </a>
        {% else %}
          {% if ACCOUNT_ALLOW_REGISTRATION %}
            {# URL provided by django-allauth/account/urls.py #}
            <a id="sign-up-link" class="nav-link px-3" href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a>
          {% endif %}
          {# URL provided by django-allauth/account/urls.py #}
          <a id="log-in-link" class="nav-link px-3" href="{% url 'account_login' %}">{% translate "Log In" %}</a>
        {% endif %}
      </div>
    </div>
  </header>
  {% endblock %}

  {% block main_wrapper %}
  <div id="main-wrapper" class="d-flex">
    <aside id="sidebar-wrapper">
      <div class="p-3">
        <div>
          {% if request.active_case %}
            <div>
              <a href="{% url "collect_case_details_view" pk=request.active_case.id %}">
                {% include "icons/case_icon.html" with c="text-primary" %}
                {{ request.active_case.name }}
              </a>
            </div>
            <div class="small text-muted">
              {% include "icons/date_icon.html" %}
              {{ request.active_case.created_at }}
            </div>
          {% else %}
            No case selected, select one.
          {% endif %}
        </div>
        <div>
          <button class="btn btn-primary mt-2" type="button" data-bs-toggle="modal"
                  data-bs-target="#caseSwitchModal">
            <i class="nf nf-cod-arrow_swap"></i>
            Switch case
          </button>
          <!--
          <br>
          <button class="btn btn-primary text-white mt-2" type="button" data-bs-toggle="offcanvas"
                  data-bs-target="#documentationOffCanvas" aria-controls="documentationOffCanvas">
            <i class="nf nf-fa-file_text"></i>
            Doc editor
          </button>
          -->
        </div>
      </div>
      <div class="list-group list-group-flush">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-3 mb-1 text-muted">
          <span>Workspaces</span>
        </h6>
        <a class="list-group-item list-group-item-action list-group-item-light{% if request.path == home_url %} active {% endif %}" href="{% url 'home' %}">
          <i class="nf nf-fa-home list-group-item-icon"></i>
          <span class="d-none d-sm-inline list-group-item-label">Home</span>
        </a>
        <a class="list-group-item list-group-item-action list-group-item-light{% if collect_base_view_url in request.path %} active {% endif %}"
           href="{{ collect_base_view_url }}">
          <i class="fa fa-th" aria-hidden="true"></i>
          <span class="d-none d-sm-inline list-group-item-label">Collect</span>
        </a>
        <a class="list-group-item list-group-item-action list-group-item-light{% if document_cases_write_doc_url in request.path %} active {% endif %}"
           href="{{ document_cases_write_doc_url }}">
          <i class="nf nf-fa-file_text list-group-item-icon" aria-hidden="true"></i>
          <span class="d-none d-sm-inline list-group-item-label">Document</span>
        </a>
        <a class="list-group-item list-group-item-action list-group-item-light{% if investigate_base_view_url in request.path %} active {% endif %}"
           href="{{ investigate_base_view_url }}">
          <i class="nf nf-fa-search list-group-item-icon" aria-hidden="true"></i>
          <span class="d-none d-sm-inline list-group-item-label">Investigate</span>
        </a>
        <a class="list-group-item list-group-item-action list-group-item-light{% if cyberchef_base_url in request.path %} active {% endif %}"
           href="{{ cyberchef_base_url }}" target="_blank">
          <i class="icon-cyberchef_hat" aria-hidden="true"></i>
          <!--img height="12px" src="{% static "images/cyberchef_hat.svg" %}" class="list-group-item-icon" /-->
          <span class="d-none d-sm-inline list-group-item-label">Cyberchef</span>
        </a>
      {% comment "FIXEME: To clean since My Profile has moved to header" %}
      {% if request.user.is_authenticated %}
          {# URL provided by django-allauth/account/urls.py #}
          <a class="list-group-item list-group-item-action list-group-item-light" href="{% url 'users:detail' request.user.username %}">
            <i class="nf nf-fa-user list-group-item-icon" aria-hidden="true"></i>
            <span class="d-none d-sm-inline list-group-item-label">{% translate "My Profile" %}</span>
          </a>
      {% endif %}
      {% endcomment %}
      {% block sidebar-items %}{% endblock sidebar-items %}
      </div>
    </aside>
    <div id="page-content-wrapper">
      <main class="container-fluid">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}
        {% block content %}
          <p>Use this document as a way to quick start any new project.</p>
        {% endblock content %}
      </main>
    </div>
  </div>
  {% endblock %}

  {% block offcanvas %}
    <div class="offcanvas offcanvas-bottom" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
         id="documentationOffCanvas" aria-labelledby="documentationOffCanvasLabel">
      <div id="documentation-actions" class="btn-group" role="group">
        <button id="documentationToggle" class='btn btn-primary' data-bs-toggle="offcanvas" data-bs-target="#documentationOffCanvas" aria-controls="documentationOffCanvas">
          <i class="nf nf-fa-file_text"></i>
          <span>Documentation editor</span>
        </button>
        <button id='documentation-cancel' class="btn btn-secondary text-white" role="button" data-bs-toggle="offcanvas" data-bs-target="#documentationOffCanvas" aria-controls="documentationOffCanvas">
          Cancel & Close
        </button>
        <button id='documentation-save' class="btn btn-primary text-white" role="button">
          <i class="nf nf-fa-save"></i> Save & Close
        </button>
      </div>
      <!--div class="offcanvas-header pb-1">
        <h5 class="offcanvas-title" id="documentationOffCanvasLabel">Documentation editor</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div-->
      <div class="offcanvas-body mt-0 p-0">
        {% include "case/documentation_form.html" with documentation_form=request.documentation_form %}
      </div>
      <script type="text/javascript">
        $(function() {
          $('#documentation-save').click(() => {
            $('#case_documentation_form').submit();
          });
          $('#documentation-cancel').click(() => {
            $('#case_documentation_form').trigger("reset");
          });
        });
      </script>
    </div>
  {% endblock offcanvas %}
  {% block modal %}
    <div class="modal fade" id="caseSwitchModal" tabindex="-1" aria-labelledby="caseSwitchModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="caseSwitchModalLabel">{% translate "Switch to another case" %}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <ul>
              {% for case in request.user_cases %}
                <li>
                  {{ case.name }} <a href="{% url "collect_cases_select_view" pk=case.id %}">Select</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  {% endblock modal %}
  {% block inline_javascript %}
    {% comment %}
      Script tags with only code, no src (defer by default). To run
      with a "defer" so that you run inline code:
      <script>
        window.addEventListener('DOMContentLoaded', () => {/* Run whatever you want */});
      </script>
      {% endcomment %}
  {% endblock inline_javascript %}
  {% block vue_javascript %}{% endblock vue_javascript %}
  <img alt='Cron Job triggering' width="1" height="1" src="{{cron_url}}" style="display: none;" />
</body>
</html>
