{% extends "base.html" %}


{% block content %}
  <div id="app">
    <my-custom-element msg="Hello..."></my-custom-element>
    <b-table striped hover :items="items"></b-table>
  </div>
{% endblock content %}

{% block inline_javascript %}
  <script type="module">
  var app = new Vue({
    delimiters: ['[[', ']]'],
    el: '#app',
    data () {
      return {
        items: [
          { age: 40, first_name: 'Dickerson', last_name: 'Macdonald' },
          { age: 21, first_name: 'Larsen', last_name: 'Shaw' },
          { age: 89, first_name: 'Geneva', last_name: 'Wilson' },
          { age: 38, first_name: 'Jami', last_name: 'Carney' }
        ]
      }
    },
    methods: {
      show_details (data) {
        this.selected_evidence = data.item
      },
      copy_to_clipboard (data) {
        navigator.clipboard.writeText(data)
      }
    }
  })
  </script>
{% endblock inline_javascript %}

