{% extends "base.html" %}
{% load i18n %}
{% load colander_tags %}
{%  block content %}
  <div class='row mt-2'>
    <div class='col-6'>
      <h2>Colander quick How-To</h2>
      <div class="ps-4">
        <ul class='timeline-with-icons'>
          <li class="timeline-item mb-2">
            <span class="timeline-icon text-white fs-5">1</span>
            <h4 class="pt-1 mb-0">Select or create a case</h4>
            <div class="text-muted">All collected data, investigations done and documentation written are attached to a case.</div>
          </li>
          <li class="timeline-item mb-2">
            <span class="timeline-icon text-white fs-5">2</span>
            <h4 class="pt-1 mb-0">Collect data</h4>
            <div class="text-muted">Populate your case with all kind of meaningfully data, from actors identification to low-level technical information.</div>
          </li>
          <li class="timeline-item mb-2">
            <span class="timeline-icon text-white fs-5">3</span>
            <h4 class="pt-1 mb-0">Investigate within data</h4>
            <div class="text-muted">Use all the available tools to explore and link identified data togethers.</div>
          </li>
          <li class="timeline-item">
            <span class="timeline-icon text-white fs-5">4</span>
            <h4 class="pt-1 mb-0">Document the case</h4>
            <div class="text-muted">Write the documentation of your case. Pro tip: you can access the documentation editor at any time with its bottom-right shortcut.</div>
          </li>
        </ul>
      </div>
    </div>
    <div class='col-6'>
      {% comment %}
      {% include 'case/create_update.html' %}
      {% endcomment %}
      {% include 'case/list.html' with compact=True %}
      <div class="mt-2 p-2">
        <p>Go to the <a href="{% url 'case_create_view' %}">cases management page</a> to view all cases or to create a new case.</p>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12'>
      <h2>Latest entity overview</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Case</th>
            <th scope="col">Update</th>
            <th scope="col" class="text-nowrap">Type</th>
            <th scope="col" class="text-nowrap">Entity</th>
          </tr>
        </thead>
        <tbody>
          {% for e in entities %}
            <tr>
              <td class="text-nowrap">
                <a href="{% url 'case_workspace_view' case_id=e.case.id %}" title="Open case: {{ e.case }}" data-bs-toggle="tooltip" data-bs-placement="top">{{ e.case }}</a>
              </td>
              <td class="text-nowrap">{{ e.updated_at }}</td>
              <td>
                {{ e|model_name|capfirst }}
                {% if e.type %}
                 - <i>{{ e.type }}</i>
                {% endif %}
              </td>
              <td class="text-nowrap">
                {% include "icons/pills.html" with elt=e %}
                {% if request.active_case == e.case %}
                  <a href="{{ e.absolute_url }}"><samp>{{ e.value }}</samp></a>
                {% else %}
                  <samp>{{ e.value }}</samp>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
