<div class='vue-container container py-2'>
  <div class="body">
    <h5>
      <i v-bind:class="['fa', 'text-primary', allStyles[entity.super_type]?.['icon-font-classname']]" v-bind:title="entity.super_type"></i>
      [[entity.super_type]] entity
    </h5>
    <div class="form-group mb-2">
        <label>Entity name</label>
        <input class="form-control" type="text" placeholder="Entity name" v-model="entity.name" name="name"/>
    </div>
    <div v-if="types">
      <div class="form-group mb-2">
        <label>[[entity.super_type]] type</label>
        <select class='form-control' name="type" size="6" v-model="entity.type">
          <option v-for="(type, tid) in types" v-bind:value="tid" v-html="optionContent(type)"/>
        </select>
      </div>
    </div>
    <div v-if="entity.super_type == 'DataFragment'">
      <div class="form-group mb-2">
        <label>Content</label>
        <textarea name='content' class="form-control" row="5" v-model="entity.content"></textarea>
      </div>
    </div>
    <div v-else-if="entity.super_type == 'DetectionRule'">
      <h4>Content</h4>
      <pre>[[entity.content]]</pre>
    </div>
  </div>
  <div class="footer">
      <button @click="cancel()" type="button" class="btn btn-outline-secondary me-1" role="cancel">Cancel</button>
      <button @click="save()" v-bind:disabled="invalidForm" type="button" class="btn btn-primary" role="save">Save</button>
  </div>
</div>
